# Chapter 1

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from glob import glob

In [3]:
# Import pandas
import pandas as pd

# Read 'Bronze.csv' into a DataFrame: bronze
bronze = pd.read_csv('Bronze.csv')

# Read 'Silver.csv' into a DataFrame: silver
silver = pd.read_csv('Silver.csv')

# Read 'Gold.csv' into a DataFrame: gold
gold = pd.read_csv('Gold.csv')

# Print the first five rows of gold
print(gold.head())

   NOC         Country   Total
0  USA   United States  2088.0
1  URS    Soviet Union   838.0
2  GBR  United Kingdom   498.0
3  FRA          France   378.0
4  GER         Germany   407.0

In [4]:
# Import pandas
import pandas as pd

# Create the list of file names: filenames
filenames = ['Gold.csv', 'Silver.csv', 'Bronze.csv']

# Create the list of three DataFrames: dataframes
dataframes = []
for filename in filenames:
    dataframes.append(pd.read_csv(filename))

# Print top 5 rows of 1st DataFrame in dataframes
print(dataframes[0].head())

   NOC         Country   Total
0  USA   United States  2088.0
1  URS    Soviet Union   838.0
2  GBR  United Kingdom   498.0
3  FRA          France   378.0
4  GER         Germany   407.0

In [5]:
# Import pandas
import pandas as pd

# Make a copy of gold: medals
medals = gold.copy()

# Create list of new column labels: new_labels
new_labels = ['NOC', 'Country', 'Gold']

# Rename the columns of medals using new_labels
medals.columns = new_labels

# Add columns 'Silver' & 'Bronze' to medals
medals['Silver'] = silver['Total']
medals['Bronze'] = bronze['Total']

# Print the head of medals
print(medals.head())

   NOC         Country    Gold  Silver  Bronze
0  USA   United States  2088.0  1195.0  1052.0
1  URS    Soviet Union   838.0   627.0   584.0
2  GBR  United Kingdom   498.0   591.0   505.0
3  FRA          France   378.0   461.0   475.0
4  GER         Germany   407.0   350.0   454.0

In [7]:
# Import pandas
import pandas as pd

# Read 'monthly_max_temp.csv' into a DataFrame: weather1
weather1 = pd.read_csv('monthly_max_temp.csv', index_col='Month')

# Print the head of weather1
print(weather1.head())

# Sort the index of weather1 in alphabetical order: weather2
weather2 = weather1.sort_index()

# Print the head of weather2
print(weather2.head())

# Sort the index of weather1 in reverse alphabetical order: weather3
weather3 = weather1.sort_index(ascending=False)

# Print the head of weather3
print(weather3.head())

# Sort weather1 numerically using the values of 'Max TemperatureF': weather4
weather4 = weather1.sort_values('Max TemperatureF')

# Print the head of weather4
print(weather4.head())

       Max TemperatureF
Month
Jan                  68
Feb                  60
Mar                  68
Apr                  84
May                  88
       Max TemperatureF
Month
Apr                  84
Aug                  86
Dec                  68
Feb                  60
Jan                  68
       Max TemperatureF
Month
Sep                  90
Oct                  84
Nov                  72
May                  88
Mar                  68
       Max TemperatureF
Month
Feb                  60
Jan                  68
Mar                  68
Dec                  68
Nov                  72

In [12]:
# data prep
year = ['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

weather1 = weather1[weather1.index.isin(['Apr', 'Jan', 'Jul', 'Oct'])]
print(weather1)

# Import pandas
import pandas as pd

# Reindex weather1 using the list year: weather2
weather2 = weather1.reindex(year)

# Print weather2
print(weather2)

# Reindex weather1 using the list year with forward-fill: weather3
weather3 = weather1.reindex(year).ffill()

# Print weather3
print(weather3)

       Max TemperatureF
Month
Jan                  68
Apr                  84
Jul                  91
Oct                  84
       Max TemperatureF
Month
Jan                68.0
Feb                 NaN
Mar                 NaN
Apr                84.0
May                 NaN
Jun                 NaN
Jul                91.0
Aug                 NaN
Sep                 NaN
Oct                84.0
Nov                 NaN
Dec                 NaN
       Max TemperatureF
Month
Jan                68.0
Feb                68.0
Mar                68.0
Apr                84.0
May                84.0
Jun                84.0
Jul                91.0
Aug                91.0
Sep                91.0
Oct                84.0
Nov                84.0
Dec                84.0

In [24]:
# data prep
names_1881 = pd.read_csv('names1881.csv', header=None, names=['name', 'gender', 'count'])
names_1881 = names_1881.set_index(['name', 'gender'])
names_1881.info()

names_1981 = pd.read_csv('names1981.csv', header=None, names=['name', 'gender', 'count'])
names_1981 = names_1981.set_index(['name', 'gender'])
names_1981.info()

# Import pandas
import pandas as pd

# Reindex names_1981 with index of names_1881: common_names
common_names = names_1981.reindex(names_1881.index)

# Print shape of common_names
print(common_names.shape)

# Drop rows with null counts: common_names
common_names = common_names.dropna()

# Print shape of new common_names
print(common_names.shape)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1935 entries, (Mary, F) to (Wright, M)
Data columns (total 1 columns):
count    1935 non-null int64
dtypes: int64(1)
memory usage: 35.2+ KB
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 19455 entries, (Jennifer, F) to (Zuriel, M)
Data columns (total 1 columns):
count    19455 non-null int64
dtypes: int64(1)
memory usage: 347.6+ KB
(1935, 1)
(1587, 1)

In [32]:
# data prep
from urllib.request import urlretrieve
file = 'pittsburgh2013.csv'
url = 'https://assets.datacamp.com/production/course_1681/datasets/' + file
urlretrieve(url, file)
weather = pd.read_csv(file, parse_dates=['Date'], index_col='Date')
weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 365 entries, 2013-01-01 to 2013-12-31
Data columns (total 22 columns):
Max TemperatureF             365 non-null int64
Mean TemperatureF            365 non-null int64
Min TemperatureF             365 non-null int64
Max Dew PointF               365 non-null int64
MeanDew PointF               365 non-null int64
Min DewpointF                365 non-null int64
Max Humidity                 365 non-null int64
Mean Humidity                365 non-null int64
Min Humidity                 365 non-null int64
Max Sea Level PressureIn     365 non-null float64
Mean Sea Level PressureIn    365 non-null float64
Min Sea Level PressureIn     365 non-null float64
Max VisibilityMiles          365 non-null int64
Mean VisibilityMiles         365 non-null int64
Min VisibilityMiles          365 non-null int64
Max Wind SpeedMPH            365 non-null int64
Mean Wind SpeedMPH           365 non-null int64
Max Gust SpeedMPH            244 non-null float64
PrecipitationIn              365 non-null float64
 CloudCover                  365 non-null int64
Events                       207 non-null object
WindDirDegrees               365 non-null int64
dtypes: float64(5), int64(16), object(1)
memory usage: 65.6+ KB

In [34]:
# Extract selected columns from weather as new DataFrame: temps_f
temps_f = weather.loc[:, ['Min TemperatureF', 'Mean TemperatureF', 'Max TemperatureF']]

# Convert temps_f to celsius: temps_c
temps_c = (temps_f - 32) * 5/9

# Rename 'F' in column names with 'C': temps_c.columns
temps_c.columns = temps_c.columns.str.replace('F', 'C')

# Print first 5 rows of temps_c
print(temps_c.head())

            Min TemperatureC  Mean TemperatureC  Max TemperatureC
Date
2013-01-01         -6.111111          -2.222222          0.000000
2013-01-02         -8.333333          -6.111111         -3.888889
2013-01-03         -8.888889          -4.444444          0.000000
2013-01-04         -2.777778          -2.222222         -1.111111
2013-01-05         -3.888889          -1.111111          1.111111

In [ ]:
# data prep

In [40]:
import pandas as pd

# Read 'GDP.csv' into a DataFrame: gdp
gdp = pd.read_csv('gdp_usa.csv', parse_dates=True, index_col='DATE')

# Slice all the gdp data from 2008 onward: post2008
post2008 = gdp['2008':]

# Print the last 8 rows of post2008
print(post2008.tail(8))

# Resample post2008 by year, keeping last(): yearly
yearly = post2008.resample('A').last()

# Print yearly
print(yearly)

# Compute percentage growth of yearly: yearly['growth']
yearly['growth'] = yearly.pct_change() * 100

# Print yearly again
print(yearly)

              VALUE
DATE
2014-07-01  17569.4
2014-10-01  17692.2
2015-01-01  17783.6
2015-04-01  17998.3
2015-07-01  18141.9
2015-10-01  18222.8
2016-01-01  18281.6
2016-04-01  18436.5
              VALUE
DATE
2008-12-31  14549.9
2009-12-31  14566.5
2010-12-31  15230.2
2011-12-31  15785.3
2012-12-31  16297.3
2013-12-31  16999.9
2014-12-31  17692.2
2015-12-31  18222.8
2016-12-31  18436.5
              VALUE    growth
DATE
2008-12-31  14549.9       NaN
2009-12-31  14566.5  0.114090
2010-12-31  15230.2  4.556345
2011-12-31  15785.3  3.644732
2012-12-31  16297.3  3.243524
2013-12-31  16999.9  4.311144
2014-12-31  17692.2  4.072377
2015-12-31  18222.8  2.999062
2016-12-31  18436.5  1.172707

In [42]:
# data prep
file = 'sp500.csv'
url = 'https://assets.datacamp.com/production/course_1681/datasets/' + file
urlretrieve(url, file)

file = 'exchange.csv'
url = 'https://assets.datacamp.com/production/course_1681/datasets/' + file
urlretrieve(url, file)

('exchange.csv', <http.client.HTTPMessage at 0x113470438>)

In [47]:
# Import pandas
import pandas as pd

# Read 'sp500.csv' into a DataFrame: sp500
sp500 = pd.read_csv('sp500.csv', parse_dates=True, index_col='Date')

# Read 'exchange.csv' into a DataFrame: exchange
exchange = pd.read_csv('exchange.csv', parse_dates=True, index_col='Date')

# Subset 'Open' & 'Close' columns from sp500: dollars
dollars = sp500.loc[:, ['Open', 'Close']]

# Print the head of dollars
print(dollars.head())

# Convert dollars to pounds: pounds
pounds = dollars.multiply(exchange['GBP/USD'], axis='rows')

# Print the head of pounds
print(pounds.head())

                   Open        Close
Date
2015-01-02  2058.899902  2058.199951
2015-01-05  2054.439941  2020.579956
2015-01-06  2022.150024  2002.609985
2015-01-07  2005.550049  2025.900024
2015-01-08  2030.609985  2062.139893
                   Open        Close
Date
2015-01-02  1340.364425  1339.908750
2015-01-05  1348.616555  1326.389506
2015-01-06  1332.515980  1319.639876
2015-01-07  1330.562125  1344.063112
2015-01-08  1343.268811  1364.126161