In [3]:
# data prep
from urllib.request import urlretrieve
import pandas as pd
url = 'https://assets.datacamp.com/production/course_2023/datasets/nyc_uber_2014.csv'
urlretrieve(url, 'nyc_uber_2014.csv')
uber_all = pd.read_csv('nyc_uber_2014.csv')

In [4]:
print(uber_all.head())
print(uber_all.shape)
uber1 = uber_all.iloc[:99, 1:5]
uber2 = uber_all.iloc[99:198, 1:5]
uber3 = uber_all.iloc[198:, 1:5]

   Unnamed: 0         Date/Time      Lat      Lon    Base
0           0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1           1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2           2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3           3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4           4  4/1/2014 0:33:00  40.7594 -73.9722  B02512
(297, 5)

In [5]:
print(uber1.shape)
print(uber2.shape)
print(uber3.shape)

(99, 4)
(99, 4)
(99, 4)

In [6]:
# Concatenate uber1, uber2, and uber3: row_concat
row_concat = pd.concat([uber1, uber2, uber3])

# Print the shape of row_concat
print(row_concat.shape)

# Print the head of row_concat
print(row_concat.head())

(297, 4)
          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [7]:
# data prep
from urllib.request import urlretrieve
url = 'https://assets.datacamp.com/production/course_2023/datasets/ebola.csv'
urlretrieve(url, 'ebola.csv')
ebola = pd.read_csv('ebola.csv')

# Melt ebola: ebola_melt
ebola_melt = pd.melt(ebola, id_vars=['Date', 'Day'], var_name='type_country', value_name='counts')

# Create the 'str_split' column
ebola_melt['str_split'] = ebola_melt['type_country'].str.split('_')

# Create the 'type' column
ebola_melt['type'] = ebola_melt['str_split'].str.get(0)

# Create the 'country' column
ebola_melt['country'] = ebola_melt['str_split'].str.get(1)

print(ebola_melt)

            Date  Day  type_country  counts        str_split    type country
0       1/5/2015  289  Cases_Guinea  2776.0  [Cases, Guinea]   Cases  Guinea
1       1/4/2015  288  Cases_Guinea  2775.0  [Cases, Guinea]   Cases  Guinea
2       1/3/2015  287  Cases_Guinea  2769.0  [Cases, Guinea]   Cases  Guinea
3       1/2/2015  286  Cases_Guinea     NaN  [Cases, Guinea]   Cases  Guinea
4     12/31/2014  284  Cases_Guinea  2730.0  [Cases, Guinea]   Cases  Guinea
5     12/28/2014  281  Cases_Guinea  2706.0  [Cases, Guinea]   Cases  Guinea
6     12/27/2014  280  Cases_Guinea  2695.0  [Cases, Guinea]   Cases  Guinea
7     12/24/2014  277  Cases_Guinea  2630.0  [Cases, Guinea]   Cases  Guinea
8     12/21/2014  273  Cases_Guinea  2597.0  [Cases, Guinea]   Cases  Guinea
9     12/20/2014  272  Cases_Guinea  2571.0  [Cases, Guinea]   Cases  Guinea
10    12/18/2014  271  Cases_Guinea     NaN  [Cases, Guinea]   Cases  Guinea
11    12/14/2014  267  Cases_Guinea  2416.0  [Cases, Guinea]   Cases  Guinea
12     12/9/2014  262  Cases_Guinea     NaN  [Cases, Guinea]   Cases  Guinea
13     12/7/2014  260  Cases_Guinea  2292.0  [Cases, Guinea]   Cases  Guinea
14     12/3/2014  256  Cases_Guinea     NaN  [Cases, Guinea]   Cases  Guinea
15    11/30/2014  253  Cases_Guinea  2164.0  [Cases, Guinea]   Cases  Guinea
16    11/28/2014  251  Cases_Guinea     NaN  [Cases, Guinea]   Cases  Guinea
17    11/23/2014  246  Cases_Guinea  2134.0  [Cases, Guinea]   Cases  Guinea
18    11/22/2014  245  Cases_Guinea     NaN  [Cases, Guinea]   Cases  Guinea
19    11/18/2014  241  Cases_Guinea  2047.0  [Cases, Guinea]   Cases  Guinea
20    11/16/2014  239  Cases_Guinea  1971.0  [Cases, Guinea]   Cases  Guinea
21    11/15/2014  238  Cases_Guinea     NaN  [Cases, Guinea]   Cases  Guinea
22    11/11/2014  234  Cases_Guinea  1919.0  [Cases, Guinea]   Cases  Guinea
23    11/10/2014  233  Cases_Guinea     NaN  [Cases, Guinea]   Cases  Guinea
24     11/9/2014  232  Cases_Guinea  1878.0  [Cases, Guinea]   Cases  Guinea
25     11/8/2014  231  Cases_Guinea     NaN  [Cases, Guinea]   Cases  Guinea
26     11/4/2014  227  Cases_Guinea     NaN  [Cases, Guinea]   Cases  Guinea
27     11/3/2014  226  Cases_Guinea  1760.0  [Cases, Guinea]   Cases  Guinea
28     11/2/2014  225  Cases_Guinea  1731.0  [Cases, Guinea]   Cases  Guinea
29    10/31/2014  222  Cases_Guinea     NaN  [Cases, Guinea]   Cases  Guinea
...          ...  ...           ...     ...              ...     ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1923   5/12/2014   51   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1924   5/10/2014   49   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1925    5/7/2014   46   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1926    5/5/2014   44   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1927    5/3/2014   42   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1928    5/1/2014   40   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1929   4/26/2014   35   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1930   4/24/2014   33   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1931   4/23/2014   32   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1932   4/22/2014   31   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1933   4/21/2014   30   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1934   4/20/2014   29   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1935   4/17/2014   26   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1936   4/16/2014   25   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1937   4/15/2014   24   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1938   4/14/2014   23   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1939   4/11/2014   20   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1940    4/9/2014   18   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1941    4/7/2014   16   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1942    4/4/2014   13   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1943    4/1/2014   10   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1944   3/31/2014    9   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1945   3/29/2014    7   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1946   3/28/2014    6   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1947   3/27/2014    5   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1948   3/26/2014    4   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1949   3/25/2014    3   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1950   3/24/2014    2   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali
1951   3/22/2014    0   Deaths_Mali     NaN   [Deaths, Mali]  Deaths    Mali

[1952 rows x 7 columns]

In [8]:
# Data prep
old_ebola_melt = ebola_melt

In [9]:
# data prep
ebola_melt     = old_ebola_melt.iloc[:, :4]
status_country = old_ebola_melt.iloc[:, 5:7]

print(ebola_melt)
print(status_country)

            Date  Day  type_country  counts
0       1/5/2015  289  Cases_Guinea  2776.0
1       1/4/2015  288  Cases_Guinea  2775.0
2       1/3/2015  287  Cases_Guinea  2769.0
3       1/2/2015  286  Cases_Guinea     NaN
4     12/31/2014  284  Cases_Guinea  2730.0
5     12/28/2014  281  Cases_Guinea  2706.0
6     12/27/2014  280  Cases_Guinea  2695.0
7     12/24/2014  277  Cases_Guinea  2630.0
8     12/21/2014  273  Cases_Guinea  2597.0
9     12/20/2014  272  Cases_Guinea  2571.0
10    12/18/2014  271  Cases_Guinea     NaN
11    12/14/2014  267  Cases_Guinea  2416.0
12     12/9/2014  262  Cases_Guinea     NaN
13     12/7/2014  260  Cases_Guinea  2292.0
14     12/3/2014  256  Cases_Guinea     NaN
15    11/30/2014  253  Cases_Guinea  2164.0
16    11/28/2014  251  Cases_Guinea     NaN
17    11/23/2014  246  Cases_Guinea  2134.0
18    11/22/2014  245  Cases_Guinea     NaN
19    11/18/2014  241  Cases_Guinea  2047.0
20    11/16/2014  239  Cases_Guinea  1971.0
21    11/15/2014  238  Cases_Guinea     NaN
22    11/11/2014  234  Cases_Guinea  1919.0
23    11/10/2014  233  Cases_Guinea     NaN
24     11/9/2014  232  Cases_Guinea  1878.0
25     11/8/2014  231  Cases_Guinea     NaN
26     11/4/2014  227  Cases_Guinea     NaN
27     11/3/2014  226  Cases_Guinea  1760.0
28     11/2/2014  225  Cases_Guinea  1731.0
29    10/31/2014  222  Cases_Guinea     NaN
...          ...  ...           ...     ...
1922   5/23/2014   62   Deaths_Mali     NaN
1923   5/12/2014   51   Deaths_Mali     NaN
1924   5/10/2014   49   Deaths_Mali     NaN
1925    5/7/2014   46   Deaths_Mali     NaN
1926    5/5/2014   44   Deaths_Mali     NaN
1927    5/3/2014   42   Deaths_Mali     NaN
1928    5/1/2014   40   Deaths_Mali     NaN
1929   4/26/2014   35   Deaths_Mali     NaN
1930   4/24/2014   33   Deaths_Mali     NaN
1931   4/23/2014   32   Deaths_Mali     NaN
1932   4/22/2014   31   Deaths_Mali     NaN
1933   4/21/2014   30   Deaths_Mali     NaN
1934   4/20/2014   29   Deaths_Mali     NaN
1935   4/17/2014   26   Deaths_Mali     NaN
1936   4/16/2014   25   Deaths_Mali     NaN
1937   4/15/2014   24   Deaths_Mali     NaN
1938   4/14/2014   23   Deaths_Mali     NaN
1939   4/11/2014   20   Deaths_Mali     NaN
1940    4/9/2014   18   Deaths_Mali     NaN
1941    4/7/2014   16   Deaths_Mali     NaN
1942    4/4/2014   13   Deaths_Mali     NaN
1943    4/1/2014   10   Deaths_Mali     NaN
1944   3/31/2014    9   Deaths_Mali     NaN
1945   3/29/2014    7   Deaths_Mali     NaN
1946   3/28/2014    6   Deaths_Mali     NaN
1947   3/27/2014    5   Deaths_Mali     NaN
1948   3/26/2014    4   Deaths_Mali     NaN
1949   3/25/2014    3   Deaths_Mali     NaN
1950   3/24/2014    2   Deaths_Mali     NaN
1951   3/22/2014    0   Deaths_Mali     NaN

[1952 rows x 4 columns]
        type country
0      Cases  Guinea
1      Cases  Guinea
2      Cases  Guinea
3      Cases  Guinea
4      Cases  Guinea
5      Cases  Guinea
6      Cases  Guinea
7      Cases  Guinea
8      Cases  Guinea
9      Cases  Guinea
10     Cases  Guinea
11     Cases  Guinea
12     Cases  Guinea
13     Cases  Guinea
14     Cases  Guinea
15     Cases  Guinea
16     Cases  Guinea
17     Cases  Guinea
18     Cases  Guinea
19     Cases  Guinea
20     Cases  Guinea
21     Cases  Guinea
22     Cases  Guinea
23     Cases  Guinea
24     Cases  Guinea
25     Cases  Guinea
26     Cases  Guinea
27     Cases  Guinea
28     Cases  Guinea
29     Cases  Guinea
...      ...     ...
1922  Deaths    Mali
1923  Deaths    Mali
1924  Deaths    Mali
1925  Deaths    Mali
1926  Deaths    Mali
1927  Deaths    Mali
1928  Deaths    Mali
1929  Deaths    Mali
1930  Deaths    Mali
1931  Deaths    Mali
1932  Deaths    Mali
1933  Deaths    Mali
1934  Deaths    Mali
1935  Deaths    Mali
1936  Deaths    Mali
1937  Deaths    Mali
1938  Deaths    Mali
1939  Deaths    Mali
1940  Deaths    Mali
1941  Deaths    Mali
1942  Deaths    Mali
1943  Deaths    Mali
1944  Deaths    Mali
1945  Deaths    Mali
1946  Deaths    Mali
1947  Deaths    Mali
1948  Deaths    Mali
1949  Deaths    Mali
1950  Deaths    Mali
1951  Deaths    Mali

[1952 rows x 2 columns]

In [10]:
# Concatenate ebola_melt and status_country column-wise: ebola_tidy
ebola_tidy = pd.concat([ebola_melt, status_country],
                      axis=1)

# Print the shape of ebola_tidy
print(ebola_tidy.shape)

# Print the head of ebola_tidy
print(ebola_tidy.head())

(1952, 6)
         Date  Day  type_country  counts   type country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [11]:
# data prep - save the uber files into csv files
uber1.to_csv('uber-raw-data-2014_04.csv')
uber2.to_csv('uber-raw-data-2014_05.csv')
uber3.to_csv('uber-raw-data-2014_06.csv')

In [14]:
# Import necessary modules
import glob
import pandas as pd

# Write the pattern: pattern
pattern = 'uber*.csv'

# Save all file matches: csv_files
csv_files = glob.glob(pattern)

# Print the file names
print(csv_files)

# Load the second file into a DataFrame: csv2
csv2 = pd.read_csv(csv_files[1])

# Print the head of csv2
print(csv2.head())

['uber-raw-data-2014_04.csv', 'uber-raw-data-2014_05.csv', 'uber-raw-data-2014_06.csv']
   Unnamed: 0         Date/Time      Lat      Lon    Base
0          99  5/1/2014 0:02:00  40.7521 -73.9914  B02512
1         100  5/1/2014 0:06:00  40.6965 -73.9715  B02512
2         101  5/1/2014 0:15:00  40.7464 -73.9838  B02512
3         102  5/1/2014 0:17:00  40.7463 -74.0011  B02512
4         103  5/1/2014 0:17:00  40.7594 -73.9734  B02512

In [16]:
# Create an empty list: frames
frames = []

#  Iterate over csv_files
for csv in csv_files:

    #  Read csv into a DataFrame: df
    df = pd.read_csv(csv)
    
    # Append df to frames
    frames.append(df)

# Concatenate frames into a single DataFrame: uber
uber = pd.concat(frames)

# Print the shape of uber
print(uber.shape)

# Print the head of uber
print(uber.head())

(297, 5)
   Unnamed: 0         Date/Time      Lat      Lon    Base
0           0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1           1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2           2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3           3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4           4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [5]:
# data prep
import pandas as pd
site = pd.read_csv('site.csv')
visited = pd.read_csv('visited_partial.csv')

print(site)
print(visited)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
   ident   site       dated
0    619   DR-1  1927-02-08
1    734   DR-3  1939-01-07
2    837  MSK-4  1932-01-14

In [4]:
# Merge the DataFrames: o2o
o2o = pd.merge(left=site, right=visited, left_on='name', right_on='site')

# Print o2o
print(o2o)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [8]:
# data prep
visited = pd.read_csv('visited.csv')
print(visited)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [9]:
# Merge the DataFrames: m2o
m2o = pd.merge(left=site, right=visited, left_on='name', right_on='site')

# Print m2o
print(m2o)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [10]:
# data prep
survey = pd.read_csv('survey.csv')
print(survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [ ]:
# Merge site and visited: m2m
m2m = pd.merge(left=site, right=visited, left_on=name, right_on=ident)

# Merge m2m and survey: m2m
m2m = pd.merge(left=m2m, right=survey, left_on=____, right_on=____)

# Print the first 20 lines of m2m
print(m2m.head(20))