# Chapter 4

In [2]:
# data prep
import pandas as pd
tips = pd.read_csv('tips.csv')
print(tips)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
# Convert the sex column to type 'category'
tips.sex = tips.sex.astype('category')

# Convert the smoker column to type 'category'
tips.smoker = tips.smoker.astype('category')

# Print the info of tips
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: category(2), float64(2), int64(1), object(2)
memory usage: 10.3+ KB
None

In [5]:
# Convert 'total_bill' to a numeric dtype
tips['total_bill'] = pd.to_numeric(tips['total_bill'], errors='coerce')

# Convert 'tip' to a numeric dtype
tips['tip'] = pd.to_numeric(tips['tip'], errors='coerce')

# Print the info of tips
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: category(2), float64(2), int64(1), object(2)
memory usage: 10.3+ KB
None

## Regular Expressions

In [8]:
# Import the regular expression module
import re

# Compile the pattern: prog
prog = re.compile('^\d{3}-\d{3}-\d{4}$')

# See if the pattern matches
result = prog.match('123-456-7890')
print(bool(result))

# See if the pattern matches
result = prog.match('1123-456-7890')
print(bool(result))

True
False

In [9]:
# Import the regular expression module
import re

# Find the numeric values: matches
matches = re.findall('\d+', 'the recipe calls for 10 strawberries and 1 banana')

# Print the matches
print(matches)

['10', '1']

In [10]:
# Write the first pattern
pattern1 = bool(re.match(pattern='\d{3}-\d{3}-\d{4}', string='123-456-7890'))
print(pattern1)

# Write the second pattern
pattern2 = bool(re.match(pattern='\$\d*\.\d{2}', string='$123.45'))
print(pattern2)

# Write the third pattern
pattern3 = bool(re.match(pattern='[A-Z][a-z]*', string='Australia'))
print(pattern3)

True
True
True

In [13]:
# data prep
import numpy as np

# Define recode_sex()
def recode_sex(sex_value):

    # Return 1 if sex_value is 'Male'
    if sex_value == 'Male':
        return 1
    
    # Return 0 if sex_value is 'Female'    
    elif sex_value == 'Female':
        return 0
    
    # Return np.nan    
    else:
        return np.nan

# Apply the function to the sex column
tips['sex_recode'] = tips.sex.apply(recode_sex)

# Print the first five rows of tips
print(tips.head())

   total_bill   tip     sex smoker  day    time  size sex_recode
0       16.99  1.01  Female     No  Sun  Dinner     2          0
1       10.34  1.66    Male     No  Sun  Dinner     3          1
2       21.01  3.50    Male     No  Sun  Dinner     3          1
3       23.68  3.31    Male     No  Sun  Dinner     2          1
4       24.59  3.61  Female     No  Sun  Dinner     4          0

In [20]:
# data prep
tips['total_dollar'] = tips.total_bill.astype(str)
tips['total_dollar'] = tips.total_dollar.apply(lambda s: '$' + s)
print(tips)

     total_bill   tip     sex smoker   day    time  size sex_recode  \
0         16.99  1.01  Female     No   Sun  Dinner     2          0
1         10.34  1.66    Male     No   Sun  Dinner     3          1
2         21.01  3.50    Male     No   Sun  Dinner     3          1
3         23.68  3.31    Male     No   Sun  Dinner     2          1
4         24.59  3.61  Female     No   Sun  Dinner     4          0
5         25.29  4.71    Male     No   Sun  Dinner     4          1
6          8.77  2.00    Male     No   Sun  Dinner     2          1
7         26.88  3.12    Male     No   Sun  Dinner     4          1
8         15.04  1.96    Male     No   Sun  Dinner     2          1
9         14.78  3.23    Male     No   Sun  Dinner     2          1
10        10.27  1.71    Male     No   Sun  Dinner     2          1
11        35.26  5.00  Female     No   Sun  Dinner     4          0
12        15.42  1.57    Male     No   Sun  Dinner     2          1
13        18.43  3.00    Male     No   Sun  Dinner     4          1
14        14.83  3.02  Female     No   Sun  Dinner     2          0
15        21.58  3.92    Male     No   Sun  Dinner     2          1
16        10.33  1.67  Female     No   Sun  Dinner     3          0
17        16.29  3.71    Male     No   Sun  Dinner     3          1
18        16.97  3.50  Female     No   Sun  Dinner     3          0
19        20.65  3.35    Male     No   Sat  Dinner     3          1
20        17.92  4.08    Male     No   Sat  Dinner     2          1
21        20.29  2.75  Female     No   Sat  Dinner     2          0
22        15.77  2.23  Female     No   Sat  Dinner     2          0
23        39.42  7.58    Male     No   Sat  Dinner     4          1
24        19.82  3.18    Male     No   Sat  Dinner     2          1
25        17.81  2.34    Male     No   Sat  Dinner     4          1
26        13.37  2.00    Male     No   Sat  Dinner     2          1
27        12.69  2.00    Male     No   Sat  Dinner     2          1
28        21.70  4.30    Male     No   Sat  Dinner     2          1
29        19.65  3.00  Female     No   Sat  Dinner     2          0
..          ...   ...     ...    ...   ...     ...   ...        ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3          0
215       12.90  1.10  Female    Yes   Sat  Dinner     2          0
216       28.15  3.00    Male    Yes   Sat  Dinner     5          1
217       11.59  1.50    Male    Yes   Sat  Dinner     2          1
218        7.74  1.44    Male    Yes   Sat  Dinner     2          1
219       30.14  3.09  Female    Yes   Sat  Dinner     4          0
220       12.16  2.20    Male    Yes   Fri   Lunch     2          1
221       13.42  3.48  Female    Yes   Fri   Lunch     2          0
222        8.58  1.92    Male    Yes   Fri   Lunch     1          1
223       15.98  3.00  Female     No   Fri   Lunch     3          0
224       13.42  1.58    Male    Yes   Fri   Lunch     2          1
225       16.27  2.50  Female    Yes   Fri   Lunch     2          0
226       10.09  2.00  Female    Yes   Fri   Lunch     2          0
227       20.45  3.00    Male     No   Sat  Dinner     4          1
228       13.28  2.72    Male     No   Sat  Dinner     2          1
229       22.12  2.88  Female    Yes   Sat  Dinner     2          0
230       24.01  2.00    Male    Yes   Sat  Dinner     4          1
231       15.69  3.00    Male    Yes   Sat  Dinner     3          1
232       11.61  3.39    Male     No   Sat  Dinner     2          1
233       10.77  1.47    Male     No   Sat  Dinner     2          1
234       15.53  3.00    Male    Yes   Sat  Dinner     2          1
235       10.07  1.25    Male     No   Sat  Dinner     2          1
236       12.60  1.00    Male    Yes   Sat  Dinner     2          1
237       32.83  1.17    Male    Yes   Sat  Dinner     2          1
238       35.83  4.67  Female     No   Sat  Dinner     3          0
239       29.03  5.92    Male     No   Sat  Dinner     3          1
240       27.18  2.00  Female    Yes   Sat  Dinner     2          0
241       22.67  2.00    Male    Yes   Sat  Dinner     2          1
242       17.82  1.75    Male     No   Sat  Dinner     2          1
243       18.78  3.00  Female     No  Thur  Dinner     2          0

    total_dollar
0         $16.99
1         $10.34
2         $21.01
3         $23.68
4         $24.59
5         $25.29
6          $8.77
7         $26.88
8         $15.04
9         $14.78
10        $10.27
11        $35.26
12        $15.42
13        $18.43
14        $14.83
15        $21.58
16        $10.33
17        $16.29
18        $16.97
19        $20.65
20        $17.92
21        $20.29
22        $15.77
23        $39.42
24        $19.82
25        $17.81
26        $13.37
27        $12.69
28         $21.7
29        $19.65
..           ...
214       $28.17
215        $12.9
216       $28.15
217       $11.59
218        $7.74
219       $30.14
220       $12.16
221       $13.42
222        $8.58
223       $15.98
224       $13.42
225       $16.27
226       $10.09
227       $20.45
228       $13.28
229       $22.12
230       $24.01
231       $15.69
232       $11.61
233       $10.77
234       $15.53
235       $10.07
236        $12.6
237       $32.83
238       $35.83
239       $29.03
240       $27.18
241       $22.67
242       $17.82
243       $18.78

[244 rows x 9 columns]

In [22]:
# Write the lambda function using replace
tips['total_dollar_replace'] = tips.total_dollar.apply(lambda x: x.replace('$', ''))

# Write the lambda function using regular expressions
tips['total_dollar_re'] = tips.total_dollar.apply(lambda x: re.findall('\d+\.\d+', x)[0])

# Print the head of tips
print(tips.head())

   total_bill   tip     sex smoker  day    time  size sex_recode total_dollar  \
0       16.99  1.01  Female     No  Sun  Dinner     2          0       $16.99
1       10.34  1.66    Male     No  Sun  Dinner     3          1       $10.34
2       21.01  3.50    Male     No  Sun  Dinner     3          1       $21.01
3       23.68  3.31    Male     No  Sun  Dinner     2          1       $23.68
4       24.59  3.61  Female     No  Sun  Dinner     4          0       $24.59

  total_dollar_replace total_dollar_re
0                16.99           16.99
1                10.34           10.34
2                21.01           21.01
3                23.68           23.68
4                24.59           24.59

In [25]:
# data prep
billboard = pd.read_csv('billboard.csv')
print(billboard)

     year                artist                    track  time date.entered  \
0    2000               2Ge+her  The Hardest Part Of ...  3:15   2000-09-02
1    2000                 2 Pac           Baby Don't Cry  4:22   2000-02-26
2    2000          3 Doors Down               Kryptonite  3:53   2000-04-08
3    2000          3 Doors Down                    Loser  4:24   2000-10-21
4    2000              504 Boyz            Wobble Wobble  3:35   2000-04-15
5    2000                   98?  Give Me Just One Nig...  3:24   2000-08-19
6    2000               Aaliyah            I Don't Wanna  4:15   2000-01-29
7    2000               Aaliyah                Try Again  4:03   2000-03-18
8    2000        Adams, Yolanda            Open My Heart  5:30   2000-08-26
9    2000         Adkins, Trace                     More  3:05   2000-04-29
10   2000   Aguilera, Christina        Come On Over Baby  3:38   2000-08-05
11   2000   Aguilera, Christina            I Turn To You  4:00   2000-04-15
12   2000   Aguilera, Christina        What A Girl Wants  3:18   1999-11-27
13   2000          Alice Deejay         Better Off Alone  6:50   2000-04-08
14   2000           Allan, Gary  Smoke Rings In The D...  4:18   2000-01-22
15   2000                 Amber                   Sexual  4:38   1999-07-17
16   2000             Anastacia           I'm Outta Love  4:01   2000-04-01
17   2000         Anthony, Marc              My Baby You  3:59   2000-09-16
18   2000         Anthony, Marc           You Sang To Me  3:50   2000-02-26
19   2000               A*Teens            Dancing Queen  3:44   2000-07-08
20   2000                 Avant            My First Love  4:28   2000-11-04
21   2000                 Avant                Separated  4:13   2000-04-29
22   2000  Backstreet Boys, The        Shape Of My Heart  3:49   2000-10-14
23   2000  Backstreet Boys, The  Show Me The Meaning ...  3:54   2000-01-01
24   2000  Backstreet Boys, The                  The One  3:46   2000-05-27
25   2000          Badu, Erkyah                 Bag Lady  5:03   2000-08-19
26   2000              Baha Men     Who Let The Dogs Out  3:17   2000-07-22
27   2000      Barenaked Ladies                 Pinch Me  3:46   2000-09-09
28   2000                 BBMak                Back Here  3:35   2000-04-29
29   2000            Beenie Man          Girls Dem Sugar  4:17   2000-10-21
..    ...                   ...                      ...   ...          ...
287  2000          Thomas, Carl                Emotional  4:31   2000-11-25
288  2000          Thomas, Carl                   I Wish  3:50   2000-03-25
289  2000          Thomas, Carl              Summer Rain  4:57   2000-09-23
290  2000         Tippin, Aaron                Kiss This  2:53   2000-08-26
291  2000                   TLC                 Dear Lie  4:36   2000-02-12
292  2000                 Train            Meet Virginia  3:55   1999-10-09
293  2000           Trick Daddy                  Shut Up  4:17   2000-05-20
294  2000                 Trina                Pull Over  2:58   2000-09-09
295  2000         Tritt, Travis       Best Of Intentions  4:15   2000-08-19
296  2000               Tuesday                   I Know  4:06   2000-12-30
297  2000          Urban, Keith          Your Everything  4:10   2000-07-15
298  2000                 Usher            Pop Ya Collar  3:36   2000-11-04
299  2000          Vassar, Phil                  Carlene  4:07   2000-03-04
300  2000          Vassar, Phil  Just Another Day In ...  3:54   2000-09-30
301  2000      Vertical Horizon      Everything You Want  4:01   2000-01-22
302  2000      Vertical Horizon             You're A God  3:45   2000-08-26
303  2000             Vitamin C               Graduation  4:23   2000-04-15
304  2000             Vitamin C                 The Itch  3:30   2000-12-02
305  2000          Walker, Clay        Live, Laugh, Love  4:06   1999-12-04
306  2000          Walker, Clay        The Chain Of Love  5:03   2000-04-15
307  2000      Wallflowers, The              Sleepwalker  3:29   2000-10-28
308  2000              Westlife           Swear It Again  4:07   2000-04-01
309  2000      Williams, Robbie                   Angels  3:56   1999-11-20
310  2000           Wills, Mark              Back At One  4:00   2000-01-15
311  2000        Worley, Darryl  When You Need My Lov...  3:35   2000-06-17
312  2000         Wright, Chely                   It Was  3:51   2000-03-04
313  2000           Yankee Grey     Another Nine Minutes  3:10   2000-04-29
314  2000      Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
315  2000       Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
316  2000         Zombie Nation            Kernkraft 400  3:30   2000-09-02

     wk1   wk2   wk3    wk4    wk5  ...   wk67  wk68  wk69  wk70  wk71  wk72  \
0     91  87.0  92.0    NaN    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN
1     87  82.0  72.0   77.0   87.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
2     81  70.0  68.0   67.0   66.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
3     76  76.0  72.0   69.0   67.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
4     57  34.0  25.0   17.0   17.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
5     51  39.0  34.0   26.0   26.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
6     84  62.0  51.0   41.0   38.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
7     59  53.0  38.0   28.0   21.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
8     76  76.0  74.0   69.0   68.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
9     84  84.0  75.0   73.0   73.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
10    57  47.0  45.0   29.0   23.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
11    50  39.0  30.0   28.0   21.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
12    71  51.0  28.0   18.0   13.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
13    79  65.0  53.0   48.0   45.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
14    80  78.0  76.0   77.0   92.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
15    99  99.0  96.0   96.0  100.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
16    92   NaN   NaN   95.0    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN
17    82  76.0  76.0   70.0   82.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
18    77  54.0  50.0   43.0   30.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
19    97  97.0  96.0   95.0  100.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
20    70  62.0  56.0   43.0   39.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
21    62  32.0  30.0   23.0   26.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
22    39  25.0  24.0   15.0   12.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
23    74  62.0  55.0   25.0   16.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
24    58  50.0  43.0   37.0   31.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
25    67  53.0  42.0   41.0   48.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
26    99  92.0  85.0   76.0   65.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
27    77  76.0  69.0   45.0   51.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
28    99  86.0  60.0   52.0   38.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
29    72  72.0  63.0   56.0   62.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
..   ...   ...   ...    ...    ...  ...    ...   ...   ...   ...   ...   ...
287   77  63.0  61.0   58.0   54.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
288   75  64.0  48.0   39.0   32.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
289   82  82.0  86.0   80.0   82.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
290   74  72.0  66.0   53.0   52.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
291   63  55.0  52.0   51.0   56.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
292   76  67.0  59.0   54.0   48.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
293   99  95.0  87.0   87.0   83.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
294   97  93.0  96.0  100.0    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN
295   97  86.0  79.0   70.0   63.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
296   98  98.0   NaN    NaN    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN
297   81  80.0  73.0   73.0   67.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
298   68  64.0  60.0   60.0   62.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
299   75  67.0  64.0   64.0   57.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
300   81  81.0  76.0   67.0   53.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
301   70  61.0  53.0   46.0   40.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
302   64  55.0  43.0   41.0   37.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
303   81  64.0  54.0   54.0   46.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
304   86  48.0  45.0   52.0   57.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
305   95  95.0  94.0   94.0   94.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
306   73  65.0  57.0   57.0   51.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
307   73  73.0  74.0   80.0   90.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
308   96  82.0  66.0   55.0   55.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
309   85  77.0  69.0   69.0   62.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
310   89  55.0  51.0   43.0   37.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
311   98  88.0  93.0   92.0   85.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
312   86  78.0  75.0   72.0   71.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
313   86  83.0  77.0   74.0   83.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
314   85  83.0  83.0   82.0   81.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
315   95  94.0  91.0   85.0   84.0  ...    NaN   NaN   NaN   NaN   NaN   NaN
316   99  99.0   NaN    NaN    NaN  ...    NaN   NaN   NaN   NaN   NaN   NaN

     wk73  wk74  wk75  wk76
0     NaN   NaN   NaN   NaN
1     NaN   NaN   NaN   NaN
2     NaN   NaN   NaN   NaN
3     NaN   NaN   NaN   NaN
4     NaN   NaN   NaN   NaN
5     NaN   NaN   NaN   NaN
6     NaN   NaN   NaN   NaN
7     NaN   NaN   NaN   NaN
8     NaN   NaN   NaN   NaN
9     NaN   NaN   NaN   NaN
10    NaN   NaN   NaN   NaN
11    NaN   NaN   NaN   NaN
12    NaN   NaN   NaN   NaN
13    NaN   NaN   NaN   NaN
14    NaN   NaN   NaN   NaN
15    NaN   NaN   NaN   NaN
16    NaN   NaN   NaN   NaN
17    NaN   NaN   NaN   NaN
18    NaN   NaN   NaN   NaN
19    NaN   NaN   NaN   NaN
20    NaN   NaN   NaN   NaN
21    NaN   NaN   NaN   NaN
22    NaN   NaN   NaN   NaN
23    NaN   NaN   NaN   NaN
24    NaN   NaN   NaN   NaN
25    NaN   NaN   NaN   NaN
26    NaN   NaN   NaN   NaN
27    NaN   NaN   NaN   NaN
28    NaN   NaN   NaN   NaN
29    NaN   NaN   NaN   NaN
..    ...   ...   ...   ...
287   NaN   NaN   NaN   NaN
288   NaN   NaN   NaN   NaN
289   NaN   NaN   NaN   NaN
290   NaN   NaN   NaN   NaN
291   NaN   NaN   NaN   NaN
292   NaN   NaN   NaN   NaN
293   NaN   NaN   NaN   NaN
294   NaN   NaN   NaN   NaN
295   NaN   NaN   NaN   NaN
296   NaN   NaN   NaN   NaN
297   NaN   NaN   NaN   NaN
298   NaN   NaN   NaN   NaN
299   NaN   NaN   NaN   NaN
300   NaN   NaN   NaN   NaN
301   NaN   NaN   NaN   NaN
302   NaN   NaN   NaN   NaN
303   NaN   NaN   NaN   NaN
304   NaN   NaN   NaN   NaN
305   NaN   NaN   NaN   NaN
306   NaN   NaN   NaN   NaN
307   NaN   NaN   NaN   NaN
308   NaN   NaN   NaN   NaN
309   NaN   NaN   NaN   NaN
310   NaN   NaN   NaN   NaN
311   NaN   NaN   NaN   NaN
312   NaN   NaN   NaN   NaN
313   NaN   NaN   NaN   NaN
314   NaN   NaN   NaN   NaN
315   NaN   NaN   NaN   NaN
316   NaN   NaN   NaN   NaN

[317 rows x 81 columns]

In [28]:
# Create the new DataFrame: tracks
tracks = billboard[['year', 'artist', 'track', 'time']]

# Print info of tracks
print(tracks.info())

# Drop the duplicates: tracks_no_duplicates
tracks_no_duplicates = tracks.drop_duplicates()

# Print info of tracks
print(tracks_no_duplicates.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317 entries, 0 to 316
Data columns (total 4 columns):
year      317 non-null int64
artist    317 non-null object
track     317 non-null object
time      317 non-null object
dtypes: int64(1), object(3)
memory usage: 10.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 317 entries, 0 to 316
Data columns (total 4 columns):
year      317 non-null int64
artist    317 non-null object
track     317 non-null object
time      317 non-null object
dtypes: int64(1), object(3)
memory usage: 12.4+ KB
None

In [30]:
# data prep
airquality = pd.read_csv('airquality.csv')
print(airquality.info())

# Calculate the mean of the Ozone column: oz_mean
oz_mean = airquality.Ozone.mean()

# Replace all the missing values in the Ozone column with the mean
airquality['Ozone'] = airquality.Ozone.fillna(oz_mean)

# Print the info of airquality
print(airquality.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      153 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB
None

## Assert statements

In [35]:
# data prep
ebola = pd.read_csv('ebola.csv')

# Assert that there are no missing values
assert pd.notnull(ebola).all().all()

# Assert that all values are >= 0
assert (ebola >= 0).all().all()

AssertionError: