# Chapter 3

In [2]:
# data prep
import pandas as pd
users = pd.DataFrame({
    'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
    'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
    'visitors': [139, 237, 326, 456],
    'signups': [7, 12, 3, 5]
})
users

     city  signups  visitors weekday
0  Austin        7       139     Sun
1  Dallas       12       237     Sun
2  Austin        3       326     Mon
3  Dallas        5       456     Mon

In [11]:
# Pivot the users DataFrame: visitors_pivot
visitors_pivot = users.pivot(index='weekday',
                             columns='city',
                             values='visitors')

# Print the pivoted DataFrame
print(visitors_pivot)

city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237

In [12]:
# Pivot users with signups indexed by weekday and city: signups_pivot
signups_pivot = users.pivot(index='weekday', columns='city', values='signups')

# Print signups_pivot
print(signups_pivot)

# Pivot users pivoted by both signups and visitors: pivot
pivot = users.pivot(index='weekday', columns='city')

# Print the pivoted DataFrame
print(pivot)

city     Austin  Dallas
weekday
Mon           3       5
Sun           7      12
        signups        visitors
city     Austin Dallas   Austin Dallas
weekday
Mon           3      5      326    456
Sun           7     12      139    237

In [18]:
# Data prep
users = pd.DataFrame({
    'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
    'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
    'visitors': [139, 237, 326, 456],
    'signups': [7, 12, 3, 5]
})
users = users.set_index(['city', 'weekday'])
users = users.sort_index()
print(users.info())
print(users)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4 entries, (Austin, Mon) to (Dallas, Sun)
Data columns (total 2 columns):
signups     4 non-null int64
visitors    4 non-null int64
dtypes: int64(2)
memory usage: 233.0+ bytes
None
                signups  visitors
city   weekday
Austin Mon            3       326
       Sun            7       139
Dallas Mon            5       456
       Sun           12       237

In [21]:
# Unstack users by 'weekday': byweekday
byweekday = users.unstack('weekday')

# Print the byweekday DataFrame
print(byweekday)

# Stack byweekday by 'weekday' and print it
print(byweekday.stack(level='weekday'))

        signups     visitors
weekday     Mon Sun      Mon  Sun
city
Austin        3   7      326  139
Dallas        5  12      456  237
                signups  visitors
city   weekday
Austin Mon            3       326
       Sun            7       139
Dallas Mon            5       456
       Sun           12       237

In [22]:
# Unstack users by 'city': bycity
bycity = users.unstack(level='city')

# Print the bycity DataFrame
print(bycity)

# Stack bycity by 'city' and print it
print(bycity.stack(level='city'))

        signups        visitors
city     Austin Dallas   Austin Dallas
weekday
Mon           3      5      326    456
Sun           7     12      139    237
                signups  visitors
weekday city
Mon     Austin        3       326
        Dallas        5       456
Sun     Austin        7       139
        Dallas       12       237

In [27]:
print(users)
print(bycity)

                signups  visitors
city   weekday
Austin Mon            3       326
       Sun            7       139
Dallas Mon            5       456
       Sun           12       237
        signups        visitors
city     Austin Dallas   Austin Dallas
weekday
Mon           3      5      326    456
Sun           7     12      139    237

In [28]:
# Stack 'city' back into the index of bycity: newusers
newusers = bycity.stack(level='city')
print(newusers)

# Swap the levels of the index of newusers: newusers
newusers = newusers.swaplevel(0, 1)

# Print newusers and verify that the index is not sorted
print(newusers)

# Sort the index of newusers: newusers
newusers = newusers.sort_index()

# Print newusers and verify that the index is now sorted
print(newusers)

# Verify that the new DataFrame is equal to the original
print(newusers.equals(users))

                signups  visitors
weekday city
Mon     Austin        3       326
        Dallas        5       456
Sun     Austin        7       139
        Dallas       12       237
                signups  visitors
city   weekday
Austin Mon            3       326
Dallas Mon            5       456
Austin Sun            7       139
Dallas Sun           12       237
                signups  visitors
city   weekday
Austin Mon            3       326
       Sun            7       139
Dallas Mon            5       456
       Sun           12       237
True

In [35]:
# data prep
users = pd.DataFrame({
    'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
    'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
    'visitors': [139, 237, 326, 456],
    'signups': [7, 12, 3, 5]
})
visitors_by_city_weekday = users.pivot(index='weekday',
                                       columns='city',
                                       values='visitors')
visitors_by_city_weekday = visitors_by_city_weekday.sort_index()
print(visitors_by_city_weekday)
print(visitors_by_city_weekday.info())

city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237
<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Mon to Sun
Data columns (total 2 columns):
Austin    2 non-null int64
Dallas    2 non-null int64
dtypes: int64(2)
memory usage: 48.0+ bytes
None

In [36]:
# Reset the index: visitors_by_city_weekday
visitors_by_city_weekday = visitors_by_city_weekday.reset_index() 

# Print visitors_by_city_weekday
print(visitors_by_city_weekday)

# Melt visitors_by_city_weekday: visitors
visitors = pd.melt(visitors_by_city_weekday,
                   id_vars='weekday',
                   value_name='visitors')

# Print visitors
print(visitors)

city weekday  Austin  Dallas
0        Mon     326     456
1        Sun     139     237
  weekday    city  visitors
0     Mon  Austin       326
1     Sun  Austin       139
2     Mon  Dallas       456
3     Sun  Dallas       237

In [39]:
# Melt users: skinny
skinny = pd.melt(users,
                id_vars=['weekday', 'city'])

# Print skinny
print(skinny)

  weekday    city  variable  value
0     Sun  Austin   signups      7
1     Sun  Dallas   signups     12
2     Mon  Austin   signups      3
3     Mon  Dallas   signups      5
4     Sun  Austin  visitors    139
5     Sun  Dallas  visitors    237
6     Mon  Austin  visitors    326
7     Mon  Dallas  visitors    456

In [41]:
# Set the new index: users_idx
users_idx = users.set_index(['city', 'weekday'])

# Print the users_idx DataFrame
print(users_idx)

# Obtain the key-value pairs: kv_pairs
kv_pairs = pd.melt(users_idx, col_level=0)

# Print the key-value pairs
print(kv_pairs)

                signups  visitors
city   weekday
Austin Sun            7       139
Dallas Sun           12       237
Austin Mon            3       326
Dallas Mon            5       456
   variable  value
0   signups      7
1   signups     12
2   signups      3
3   signups      5
4  visitors    139
5  visitors    237
6  visitors    326
7  visitors    456

In [42]:
# Create the DataFrame with the appropriate pivot table: by_city_day
by_city_day = users.pivot_table(index='weekday',
                               columns='city')

# Print by_city_day
print(by_city_day)

        signups        visitors
city     Austin Dallas   Austin Dallas
weekday
Mon           3      5      326    456
Sun           7     12      139    237

In [45]:
print(users.info())

# Use a pivot table to display the count of each column: count_by_weekday1
count_by_weekday1 = users.pivot_table(index='weekday',
                                     aggfunc='count')

# Print count_by_weekday
print(count_by_weekday1)

# Replace 'aggfunc='count'' with 'aggfunc=len': count_by_weekday2
count_by_weekday2 = users.pivot_table(index='weekday',
                                     aggfunc=len)

# Verify that the same result is obtained
print('==========================================')
print(count_by_weekday1.equals(count_by_weekday2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
city        4 non-null object
signups     4 non-null int64
visitors    4 non-null int64
weekday     4 non-null object
dtypes: int64(2), object(2)
memory usage: 208.0+ bytes
None
         city  signups  visitors
weekday
Mon         2        2         2
Sun         2        2         2
==========================================
True

In [46]:
# Create the DataFrame with the appropriate pivot table: signups_and_visitors
signups_and_visitors = users.pivot_table(index='weekday',
                                        aggfunc=sum)

# Print signups_and_visitors
print(signups_and_visitors)

# Add in the margins: signups_and_visitors_total 
signups_and_visitors_total = users.pivot_table(index='weekday',
                                        aggfunc=sum,
                                        margins=True)

# Print signups_and_visitors_total
print(signups_and_visitors_total)

         signups  visitors
weekday
Mon            8       782
Sun           19       376
         signups  visitors
weekday
Mon            8       782
Sun           19       376
All           27      1158