<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Chapter-5" data-toc-modified-id="Chapter-5-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Chapter 5</a></span></li></ul></div>

## Chapter 5

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from dask import delayed

In [3]:
# Define @delayed-function read_flights
@delayed
def read_flights(filename):

    # Read in the DataFrame: df
    df = pd.read_csv(filename, parse_dates=['FL_DATE'])

    # Replace 0s in df['WEATHER_DELAY'] with np.nan
    df['WEATHER_DELAY'] = df['WEATHER_DELAY'].replace(0, np.nan)

    # Return df
    return df

In [25]:
df = read_flights('flightdelays/flightdelays-2016-1.csv')
df.info().compute()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89165 entries, 0 to 89164
Data columns (total 23 columns):
FL_DATE                89165 non-null datetime64[ns]
UNIQUE_CARRIER         89165 non-null object
FL_NUM                 89165 non-null int64
ORIGIN                 89165 non-null object
ORIGIN_CITY_NAME       89165 non-null object
ORIGIN_STATE_ABR       89165 non-null object
ORIGIN_STATE_NM        89165 non-null object
DEST                   89165 non-null object
DEST_CITY_NAME         89165 non-null object
DEST_STATE_ABR         89165 non-null object
DEST_STATE_NM          89165 non-null object
CRS_DEP_TIME           89165 non-null int64
DEP_DELAY              89165 non-null float64
CRS_ARR_TIME           89165 non-null int64
ARR_DELAY              86628 non-null float64
CANCELLED              89165 non-null float64
DIVERTED               89165 non-null float64
CARRIER_DELAY          14255 non-null float64
WEATHER_DELAY          731 non-null float64
NAS_DELAY              14255 non-null float64
SECURITY_DELAY         14255 non-null float64
LATE_AIRCRAFT_DELAY    14255 non-null float64
Unnamed: 22            0 non-null float64
dtypes: datetime64[ns](1), float64(10), int64(3), object(9)
memory usage: 15.6+ MB

In [26]:
from glob import glob
import dask.dataframe as dd

dataframes = []
filenames = glob('flightdelays/*.csv')

In [27]:
# Loop over filenames with index filename
for filename in filenames:
    # Apply read_flights to filename; append to dataframes
    dataframes.append(read_flights(filename))

# Compute flight delays: flight_delays
flight_delays = dd.from_delayed(dataframes)

# Print average of 'WEATHER_DELAY' column of flight_delays
print(flight_delays['WEATHER_DELAY'].mean().compute())

51.29467680608365

In [28]:
# Define @delayed-function read_weather with input filename
@delayed
def read_weather(filename):
    # Read in filename: df
    df = pd.read_csv(filename, parse_dates=['Date'])

    # Clean 'PrecipitationIn'
    df['PrecipitationIn'] = pd.to_numeric(df['PrecipitationIn'],
                                         errors='coerce')

    # Create the 'Airport' column
    df['Airport'] = filename.split('.')[0].split('/')[1]

    # Return df
    return df

In [35]:
df = read_weather('weatherdata/DEN.csv')
df.compute()

,Date,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,Airport
0,2016-01-01,35,21,6,10,1,-9,80,50,19,...,10,7,20,9,22.0,0.00,0,NaN,216,DEN
1,2016-01-02,41,29,16,11,4,-1,50,37,24,...,10,10,17,10,22.0,0.00,2,NaN,205,DEN
2,2016-01-03,46,31,15,19,11,2,68,49,30,...,10,10,14,7,29.0,0.00,3,NaN,193,DEN
3,2016-01-04,45,32,18,23,14,9,73,55,37,...,10,10,10,6,12.0,0.00,6,NaN,154,DEN
4,2016-01-05,45,34,23,19,16,12,63,48,33,...,10,10,13,7,14.0,0.00,3,NaN,246,DEN
5,2016-01-06,46,33,19,27,20,14,81,62,43,...,10,10,16,8,17.0,0.00,4,NaN,166,DEN
6,2016-01-07,35,32,28,31,28,22,92,79,66,...,4,1,12,5,12.0,0.15,8,Snow,307,DEN
7,2016-01-08,29,24,18,27,19,15,92,83,74,...,2,0,16,6,19.0,0.23,8,Fog-Snow,38,DEN
8,2016-01-09,28,17,6,19,13,3,92,78,63,...,6,1,14,4,15.0,NaN,6,Snow,203,DEN
9,2016-01-10,32,19,5,16,8,2,88,71,53,...,6,0,21,8,22.0,NaN,1,Fog-Snow,242,DEN
10,2016-01-11,40,26,12,19,8,1,73,52,30,...,10,8,18,9,22.0,0.00,4,NaN,202,DEN
11,2016-01-12,45,32,19,20,9,-2,63,43,23,...,10,10,18,9,22.0,0.00,5,NaN,192,DEN
12,2016-01-13,51,37,22,26,18,11,68,50,31,...,10,10,21,12,24.0,0.00,5,NaN,200,DEN
13,2016-01-14,44,36,28,16,13,7,43,37,30,...,10,10,32,15,38.0,0.00,2,NaN,273,DEN
14,2016-01-15,33,26,19,20,15,10,84,62,39,...,9,2,20,10,23.0,0.01,6,Snow,124,DEN
15,2016-01-16,37,24,11,18,13,6,88,59,29,...,10,10,13,7,17.0,0.00,5,NaN,170,DEN
16,2016-01-17,38,25,12,23,15,9,92,70,47,...,6,0,14,6,16.0,0.00,4,Fog,276,DEN
17,2016-01-18,51,37,22,30,20,13,69,49,28,...,10,10,15,7,16.0,0.00,5,NaN,160,DEN
18,2016-01-19,40,33,26,31,26,20,89,67,44,...,8,1,28,9,33.0,0.01,6,Snow,333,DEN
19,2016-01-20,49,37,25,24,19,13,69,48,27,...,10,10,21,10,26.0,0.00,6,NaN,289,DEN
20,2016-01-21,40,31,21,21,17,13,77,57,37,...,10,10,16,8,19.0,0.00,4,NaN,350,DEN
21,2016-01-22,52,37,21,31,22,13,77,58,38,...,10,10,16,10,19.0,0.00,3,NaN,194,DEN
22,2016-01-23,57,45,32,27,22,19,75,51,26,...,10,9,15,7,16.0,0.00,6,NaN,186,DEN
23,2016-01-24,45,37,28,28,24,20,78,62,45,...,10,6,22,9,25.0,NaN,6,Snow,339,DEN
24,2016-01-25,37,28,18,27,22,14,85,71,56,...,9,2,23,11,30.0,NaN,6,Snow,40,DEN
25,2016-01-26,42,30,18,16,13,8,84,54,24,...,10,10,17,10,21.0,0.00,1,NaN,190,DEN
26,2016-01-27,52,38,24,24,19,12,72,50,28,...,10,10,15,8,19.0,0.00,3,NaN,189,DEN
27,2016-01-28,58,43,27,25,22,19,69,46,23,...,10,10,17,11,19.0,0.00,1,NaN,204,DEN
28,2016-01-29,55,45,35,25,20,15,59,42,24,...,10,10,30,11,37.0,0.00,4,NaN,212,DEN
29,2016-01-30,65,47,28,32,27,21,92,58,24,...,7,1,28,9,31.0,0.10,7,Snow,118,DEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,2016-12-02,33,24,15,25,18,10,84,67,50,...,8,1,16,8,20.0,0.01,7,Snow,128,DEN
337,2016-12-03,42,28,13,21,15,9,92,61,30,...,8,2,10,5,12.0,0.00,3,Fog,226,DEN
338,2016-12-04,55,33,11,14,10,5,61,39,16,...,10,10,21,10,25.0,0.00,2,NaN,190,DEN
339,2016-12-05,54,36,17,22,9,-7,53,35,16,...,10,8,37,15,46.0,0.00,3,NaN,344,DEN
340,2016-12-06,30,17,4,13,3,-7,80,54,28,...,8,2,24,14,29.0,0.02,5,Snow,135,DEN
341,2016-12-07,17,5,-8,13,5,-12,88,77,66,...,6,0,18,8,22.0,0.03,6,Fog-Snow,43,DEN
342,2016-12-08,19,5,-10,9,0,-12,96,79,61,...,10,7,14,4,18.0,0.00,4,NaN,142,DEN
343,2016-12-09,54,29,3,29,16,1,87,59,30,...,9,6,16,7,19.0,0.00,3,NaN,242,DEN
344,2016-12-10,55,35,15,29,23,12,88,63,38,...,8,4,17,6,19.0,0.00,5,NaN,153,DEN
345,2016-12-11,39,31,22,29,26,19,92,78,64,...,8,0,18,9,21.0,0.09,5,Fog-Snow,97,DEN
346,2016-12-12,44,32,19,26,20,17,92,69,45,...,8,0,17,8,21.0,0.00,5,Fog,216,DEN
347,2016-12-13,48,33,18,17,12,6,73,51,29,...,10,10,20,9,23.0,0.00,4,NaN,139,DEN
348,2016-12-14,29,20,11,13,8,6,83,65,46,...,10,10,20,10,23.0,0.00,6,NaN,58,DEN
349,2016-12-15,57,35,12,25,16,7,84,53,22,...,10,10,21,7,25.0,0.00,6,NaN,150,DEN
350,2016-12-16,50,27,4,27,12,-1,88,64,39,...,6,0,30,12,34.0,0.45,7,Fog-Snow,44,DEN
351,2016-12-17,3,-6,-15,-2,-9,-19,87,73,58,...,5,0,21,8,21.0,0.18,6,Fog-Snow,36,DEN
352,2016-12-18,17,4,-10,2,-5,-13,83,71,58,...,10,10,17,7,18.0,0.00,2,NaN,189,DEN
353,2016-12-19,43,24,4,21,9,-3,69,50,30,...,10,10,21,12,23.0,0.00,4,NaN,211,DEN
354,2016-12-20,53,42,30,27,22,13,51,40,29,...,10,10,29,12,37.0,0.00,6,NaN,236,DEN
355,2016-12-21,53,40,26,25,20,13,75,49,23,...,10,10,33,13,42.0,0.00,6,NaN,122,DEN
356,2016-12-22,37,31,24,24,22,18,81,68,54,...,10,10,12,5,14.0,0.00,6,NaN,239,DEN
357,2016-12-23,49,37,24,29,24,21,88,63,37,...,10,10,26,9,32.0,0.00,3,NaN,176,DEN
358,2016-12-24,57,41,24,29,24,18,75,51,27,...,10,10,21,8,24.0,0.00,2,NaN,214,DEN
359,2016-12-25,46,33,20,35,23,8,89,60,30,...,9,6,36,14,43.0,NaN,6,Rain-Snow-Thunderstorm,241,DEN
360,2016-12-26,44,30,16,17,10,6,84,52,20,...,10,10,18,8,25.0,0.00,0,NaN,237,DEN
361,2016-12-27,53,33,13,26,15,6,77,46,15,...,10,10,26,9,34.0,0.00,2,NaN,194,DEN
362,2016-12-28,48,33,18,25,19,13,68,50,31,...,10,10,22,11,28.0,0.00,2,NaN,58,DEN
363,2016-12-29,47,32,17,24,17,9,80,59,38,...,10,10,18,10,20.0,0.00,1,NaN,144,DEN
364,2016-12-30,65,50,35,12,7,0,37,23,8,...,10,10,32,13,41.0,0.00,3,NaN,247,DEN
365,2016-12-31,41,27,13,21,18,10,92,56,20,...,10,10,20,7,24.0,0.00,1,NaN,98,DEN

In [39]:
weather_dfs = []
filenames = glob('weatherdata/???.csv')
print(filenames)

['weatherdata/DFW.csv', 'weatherdata/DEN.csv', 'weatherdata/MCO.csv', 'weatherdata/ATL.csv', 'weatherdata/ORD.csv']

In [40]:
# Loop over filenames with filename
for filename in filenames:
    # Invoke read_weather on filename; append result to weather_dfs
    weather_dfs.append(read_weather(filename))

# Call dd.from_delayed() with weather_dfs: weather
weather = dd.from_delayed(weather_dfs)

# Print result of weather.nlargest(1, 'Max TemperatureF')
print(weather.nlargest(1, 'Max TemperatureF').compute())

          Date  Max TemperatureF  Mean TemperatureF  Min TemperatureF  \
224 2016-08-12               107                 93                79

     Max Dew PointF  MeanDew PointF  Min DewpointF  Max Humidity  \
224              75              71             66            79

     Mean Humidity  Min Humidity   ...     Mean VisibilityMiles  \
224             53            27   ...                        8

     Min VisibilityMiles  Max Wind SpeedMPH  Mean Wind SpeedMPH  \
224                    0                 41                  10

     Max Gust SpeedMPH  PrecipitationIn  CloudCover             Events  \
224               54.0             0.82           5  Rain-Thunderstorm

     WindDirDegrees  Airport
224             214      DFW

[1 rows x 24 columns]

In [47]:
weather.head()

,Date,Max TemperatureF,Mean TemperatureF,Min TemperatureF,Max Dew PointF,MeanDew PointF,Min DewpointF,Max Humidity,Mean Humidity,Min Humidity,...,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,Airport
0,2016-01-01,49,44,39,32,28,24,70,55,39,...,10,10,18,11,24.0,0.0,7,NaN,355,DFW
1,2016-01-02,51,45,38,28,25,20,70,50,30,...,10,10,12,6,13.0,0.0,8,NaN,298,DFW
2,2016-01-03,60,49,37,33,30,26,82,57,32,...,10,10,15,8,17.0,0.0,0,NaN,314,DFW
3,2016-01-04,54,43,32,32,29,27,82,60,38,...,10,10,10,5,12.0,0.0,0,NaN,6,DFW
4,2016-01-05,47,40,32,31,29,27,82,70,57,...,10,10,15,8,19.0,0.0,6,NaN,121,DFW

In [42]:
# Make cleaned Boolean Series from weather['Events']: is_snowy
is_snowy = weather['Events'].str.contains('Snow').fillna(False)

# Create filtered DataFrame with weather.loc & is_snowy: got_snow
got_snow = weather.loc[is_snowy]

# Groupby 'Airport' column; select 'PrecipitationIn'; aggregate sum(): result
result = got_snow.groupby('Airport')['PrecipitationIn'].sum()

# Compute & print the value of result
print(result.compute())

Airport
DEN    5.59
ATL    1.94
ORD    3.91
Name: PrecipitationIn, dtype: float64

In [65]:
import time

def percent_delayed(df):
    return (df['WEATHER_DELAY'].count() / len(df)) * 100

weather_delays = flight_delays.merge(weather,
                                     left_on=['FL_DATE', 'ORIGIN'],
                                     right_on=['Date', 'Airport'],
                                     how='left')
weather_delays.head()

,FL_DATE,UNIQUE_CARRIER,FL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_ABR,...,Mean VisibilityMiles,Min VisibilityMiles,Max Wind SpeedMPH,Mean Wind SpeedMPH,Max Gust SpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,Airport
0,2016-04-01,OO,5800,IAH,"Houston, TX",TX,Texas,CLT,"Charlotte, NC",NC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-04-01,UA,377,BIL,"Billings, MT",MT,Montana,DEN,"Denver, CO",CO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-04-01,UA,789,PDX,"Portland, OR",OR,Oregon,DEN,"Denver, CO",CO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-04-01,EV,3728,IAH,"Houston, TX",TX,Texas,DSM,"Des Moines, IA",IA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-04-01,UA,215,DEN,"Denver, CO",CO,Colorado,MSP,"Minneapolis, MN",MN,...,10.0,10.0,23.0,9.0,29.0,0.0,3.0,NaN,230.0,DEN

In [66]:
# Print time in milliseconds to compute percent_delayed on weather_delays
t_start = time.time()
print(percent_delayed(weather_delays).compute())
t_end = time.time()
print((t_end-t_start)*1000)

# Call weather_delays.persist(): persisted_weather_delays
persisted_weather_delays = weather_delays.persist()

# Print time in milliseconds to compute percent_delayed on persisted_weather_delays
t_start = time.time()
print(percent_delayed(persisted_weather_delays).compute())
t_end = time.time()
print((t_end-t_start)*1000)

0.8039985937667181
15106.848001480103
0.8039985937667181
22.253036499023438

In [75]:
# Group persisted_weather_delays by 'Events': by_event
by_event = persisted_weather_delays.groupby('Events')

# Count 'by_event['WEATHER_DELAY'] column & divide by total number of delayed flights
pct_delayed = by_event['WEATHER_DELAY'].count() / persisted_weather_delays['WEATHER_DELAY'].count() * 100

# Compute & print five largest values of pct_delayed
print(pct_delayed.nlargest(5).compute())

# Calculate mean of by_event['WEATHER_DELAY'] column & return the 5 largest entries: avg_delay_time
avg_delay_time = by_event['WEATHER_DELAY'].mean().nlargest(5)

# Compute & print avg_delay_time
print(avg_delay_time.compute())

Events
Rain-Thunderstorm        14.638783
Snow                      5.975014
Fog-Snow                  2.444324
Rain                      2.199891
Fog-Rain-Thunderstorm     1.466594
Name: WEATHER_DELAY, dtype: float64
Events
Rain-Snow                77.725490
Thunderstorm             72.500000
Fog-Rain                 55.000000
Rain-Thunderstorm        47.335807
Fog-Rain-Thunderstorm    39.685185
Name: WEATHER_DELAY, dtype: float64