# Chapter 2

In [1]:
# data prep
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

/Users/Brian/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/Brian/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [4]:
# data prep
from urllib.request import urlretrieve
file = 'wine_types.csv'
url = 'https://assets.datacamp.com/production/course_6576/datasets/' + file
urlretrieve(url, file)
wine = pd.read_csv(file)
wine.info()

# prep X and y
X = wine[['Proline', 'Total phenols', 'Hue', 'Nonflavanoid phenols']]
y = wine['Type']

from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
Type                            178 non-null int64
Alcohol                         178 non-null float64
Malic acid                      178 non-null float64
Ash                             178 non-null float64
Alcalinity of ash               178 non-null float64
Magnesium                       178 non-null int64
Total phenols                   178 non-null float64
Flavanoids                      178 non-null float64
Nonflavanoid phenols            178 non-null float64
Proanthocyanins                 178 non-null float64
Color intensity                 178 non-null float64
Hue                             178 non-null float64
OD280/OD315 of diluted wines    178 non-null float64
Proline                         178 non-null int64
dtypes: float64(11), int64(3)
memory usage: 19.5 KB

In [8]:
# Split the dataset and labels into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

# Fit the k-nearest neighbors model to the training data
knn.fit(X_train, y_train)

# Score the model on the test data
print(knn.score(X_test, y_test))

0.6666666666666666

## Log Normalisation

In [10]:
# see which columns vary a lot
wine.var().sort_values(ascending=False)

Proline                         99166.717355
Magnesium                         203.989335
Alcalinity of ash                  11.152686
Color intensity                     5.374449
Malic acid                          1.248015
Flavanoids                          0.997719
Alcohol                             0.659062
Type                                0.600679
OD280/OD315 of diluted wines        0.504086
Total phenols                       0.391690
Proanthocyanins                     0.327595
Ash                                 0.075265
Hue                                 0.052245
Nonflavanoid phenols                0.015489
dtype: float64

In [13]:
# Print out the variance of the Proline column
print(wine['Proline'].var())

# Apply the log normalization function to the Proline column
wine['Proline_log'] = np.log(wine['Proline'])

# Check the variance of the Proline column again
print(wine['Proline_log'].var())

99166.71735542428
0.17231366191842018

## Scaling for feature comparison

In [16]:
# data prep
wine[['Ash', 'Alcalinity of ash', 'Magnesium']].describe()

              Ash  Alcalinity of ash   Magnesium
count  178.000000         178.000000  178.000000
mean     2.366517          19.494944   99.741573
std      0.274344           3.339564   14.282484
min      1.360000          10.600000   70.000000
25%      2.210000          17.200000   88.000000
50%      2.360000          19.500000   98.000000
75%      2.557500          21.500000  107.000000
max      3.230000          30.000000  162.000000

In [38]:
# Import StandardScaler from scikit-learn
from sklearn.preprocessing import StandardScaler

# Create the scaler
ss = StandardScaler()

# Take a subset of the DataFrame you want to scale 
wine_subset = wine[['Ash', 'Alcalinity of ash', 'Magnesium']]

# Apply the scaler to the DataFrame subset
wine_subset_scaled = ss.fit_transform(wine_subset)

In [19]:
pd.DataFrame(wine_subset_scaled).describe()

                  0             1             2
count  1.780000e+02  1.780000e+02  1.780000e+02
mean  -8.657245e-16 -1.160121e-16 -1.995907e-17
std    1.002821e+00  1.002821e+00  1.002821e+00
min   -3.679162e+00 -2.671018e+00 -2.088255e+00
25%   -5.721225e-01 -6.891372e-01 -8.244151e-01
50%   -2.382132e-02  1.518295e-03 -1.222817e-01
75%    6.981085e-01  6.020883e-01  5.096384e-01
max    3.156325e+00  3.154511e+00  4.371372e+00

In [27]:
# build model with scaled data
X = wine_subset_scaled
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
print(knn.score(X_test, y_test))

0.7333333333333333

In [34]:
# Split the dataset and labels into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

# Fit the k-nearest neighbors model to the training data
knn.fit(X_train, y_train)

# Score the model on the test data
print(knn.score(X_test, y_test))

0.7777777777777778

In [35]:
# data prep
X = wine.drop('Type', axis='columns')
y = wine.Type

In [42]:
# Create the scaling method.
ss = StandardScaler()

# Apply the scaling method to the dataset used for modeling.
X_scaled = ss.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y)

# Fit the k-nearest neighbors model to the training data.
knn.fit(X_train, y_train)

# Score the model on the test data.
print(knn.score(X_test, y_test))

0.9777777777777777