<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

# Chapter 4

In [5]:
import numpy as np
import pandas as pd
from urllib.request import urlretrieve

url = 'https://assets.datacamp.com/production/repositories/3581/datasets/779033fb8fb5021aee9ff46253980abcbc5851f3/'
file = 'baseball_stats.csv'
urlretrieve(url+file, file)
baseball_df = pd.read_csv(file)
baseball_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1232 entries, 0 to 1231
Data columns (total 15 columns):
Team            1232 non-null object
League          1232 non-null object
Year            1232 non-null int64
RS              1232 non-null int64
RA              1232 non-null int64
W               1232 non-null int64
OBP             1232 non-null float64
SLG             1232 non-null float64
BA              1232 non-null float64
Playoffs        1232 non-null int64
RankSeason      244 non-null float64
RankPlayoffs    244 non-null float64
G               1232 non-null int64
OOBP            420 non-null float64
OSLG            420 non-null float64
dtypes: float64(7), int64(6), object(2)
memory usage: 144.5+ KB

In [9]:
pit_df = baseball_df.query('Team == "PIT" & Year >= 2008')

In [10]:
# Iterate over pit_df and print each row
for i,row in pit_df.iterrows():
    print(row)

Team              PIT
League             NL
Year             2012
RS                651
RA                674
W                  79
OBP             0.304
SLG             0.395
BA              0.243
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.314
OSLG             0.39
Name: 21, dtype: object
Team              PIT
League             NL
Year             2011
RS                610
RA                712
W                  72
OBP             0.309
SLG             0.368
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.338
OSLG            0.409
Name: 51, dtype: object
Team              PIT
League             NL
Year             2010
RS                587
RA                866
W                  57
OBP             0.304
SLG             0.373
BA              0.242
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.348
OSLG            0.449
Name: 81, dtype: object
Team              PIT
League             NL
Year             2009
RS                636
RA                768
W                  62
OBP             0.318
SLG             0.387
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.346
OSLG            0.442
Name: 111, dtype: object
Team              PIT
League             NL
Year             2008
RS                735
RA                884
W                  67
OBP              0.32
SLG             0.403
BA              0.258
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.362
OSLG            0.454
Name: 141, dtype: object

In [11]:
# Iterate over pit_df and print each index variable and then each row
for i,row in pit_df.iterrows():
    print(i)
    print(row)
    print(type(row))

21
Team              PIT
League             NL
Year             2012
RS                651
RA                674
W                  79
OBP             0.304
SLG             0.395
BA              0.243
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.314
OSLG             0.39
Name: 21, dtype: object
<class 'pandas.core.series.Series'>
51
Team              PIT
League             NL
Year             2011
RS                610
RA                712
W                  72
OBP             0.309
SLG             0.368
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.338
OSLG            0.409
Name: 51, dtype: object
<class 'pandas.core.series.Series'>
81
Team              PIT
League             NL
Year             2010
RS                587
RA                866
W                  57
OBP             0.304
SLG             0.373
BA              0.242
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.348
OSLG            0.449
Name: 81, dtype: object
<class 'pandas.core.series.Series'>
111
Team              PIT
League             NL
Year             2009
RS                636
RA                768
W                  62
OBP             0.318
SLG             0.387
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.346
OSLG            0.442
Name: 111, dtype: object
<class 'pandas.core.series.Series'>
141
Team              PIT
League             NL
Year             2008
RS                735
RA                884
W                  67
OBP              0.32
SLG             0.403
BA              0.258
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.362
OSLG            0.454
Name: 141, dtype: object
<class 'pandas.core.series.Series'>

In [13]:
# Use one variable instead of two to store the result of .iterrows()
for row_tuple in pit_df.iterrows():
    print(row_tuple)
    print(type(row_tuple))

(21, Team              PIT
League             NL
Year             2012
RS                651
RA                674
W                  79
OBP             0.304
SLG             0.395
BA              0.243
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.314
OSLG             0.39
Name: 21, dtype: object)
<class 'tuple'>
(51, Team              PIT
League             NL
Year             2011
RS                610
RA                712
W                  72
OBP             0.309
SLG             0.368
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.338
OSLG            0.409
Name: 51, dtype: object)
<class 'tuple'>
(81, Team              PIT
League             NL
Year             2010
RS                587
RA                866
W                  57
OBP             0.304
SLG             0.373
BA              0.242
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.348
OSLG            0.449
Name: 81, dtype: object)
<class 'tuple'>
(111, Team              PIT
League             NL
Year             2009
RS                636
RA                768
W                  62
OBP             0.318
SLG             0.387
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.346
OSLG            0.442
Name: 111, dtype: object)
<class 'tuple'>
(141, Team              PIT
League             NL
Year             2008
RS                735
RA                884
W                  67
OBP              0.32
SLG             0.403
BA              0.258
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.362
OSLG            0.454
Name: 141, dtype: object)
<class 'tuple'>

In [19]:
giants_df = baseball_df.query('Team == "SFG" and Year >= 2008')

def calc_run_diff(runs_scored, runs_allowed):
    run_diff = runs_scored - runs_allowed
    return run_diff

In [21]:
# Create an empty list to store run differentials
run_diffs = []

# Write a for loop and collect runs allowed and runs scored for each row
for i,row in giants_df.iterrows():
    runs_scored = row['RS']
    runs_allowed = row['RA']
    
    # Use the provided function to calculate run_diff for each row
    run_diff = calc_run_diff(runs_scored, runs_allowed)
    
    # Append each run differential to the output list
    run_diffs.append(run_diff)

giants_df['RD'] = run_diffs
print(giants_df)

    Team League  Year   RS   RA   W    OBP    SLG     BA  Playoffs  \
24   SFG     NL  2012  718  649  94  0.327  0.397  0.269         1
54   SFG     NL  2011  570  578  86  0.303  0.368  0.242         0
84   SFG     NL  2010  697  583  92  0.321  0.408  0.257         1
114  SFG     NL  2009  657  611  88  0.309  0.389  0.257         0
144  SFG     NL  2008  640  759  72  0.321  0.382  0.262         0

     RankSeason  RankPlayoffs    G   OOBP   OSLG   RD
24          4.0           1.0  162  0.313  0.393   69
54          NaN           NaN  162  0.309  0.346   -8
84          5.0           1.0  162  0.313  0.370  114
114         NaN           NaN  162  0.314  0.372   46
144         NaN           NaN  162  0.341  0.404 -119

/Users/Brian/anaconda3/envs/datacamp/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [22]:
rangers_df = baseball_df.query('Team == "TEX"')

In [23]:
# Loop over the DataFrame and print each row
for row in rangers_df.itertuples():
  print(row)

Pandas(Index=27, Team='TEX', League='AL', Year=2012, RS=808, RA=707, W=93, OBP=0.33399999999999996, SLG=0.446, BA=0.273, Playoffs=1, RankSeason=5.0, RankPlayoffs=5.0, G=162, OOBP=0.309, OSLG=0.408)
Pandas(Index=57, Team='TEX', League='AL', Year=2011, RS=855, RA=677, W=96, OBP=0.34, SLG=0.46, BA=0.28300000000000003, Playoffs=1, RankSeason=3.0, RankPlayoffs=2.0, G=162, OOBP=0.307, OSLG=0.392)
Pandas(Index=87, Team='TEX', League='AL', Year=2010, RS=787, RA=687, W=90, OBP=0.33799999999999997, SLG=0.419, BA=0.276, Playoffs=1, RankSeason=7.0, RankPlayoffs=2.0, G=162, OOBP=0.319, OSLG=0.39)
Pandas(Index=117, Team='TEX', League='AL', Year=2009, RS=784, RA=740, W=87, OBP=0.32, SLG=0.445, BA=0.26, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.331, OSLG=0.41600000000000004)
Pandas(Index=147, Team='TEX', League='AL', Year=2008, RS=901, RA=967, W=79, OBP=0.354, SLG=0.462, BA=0.28300000000000003, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.36200000000000004, OSLG=0.455)
Pandas(Index=177, Team='TEX', League='AL', Year=2007, RS=816, RA=844, W=75, OBP=0.32799999999999996, SLG=0.426, BA=0.263, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.35600000000000004, OSLG=0.423)
Pandas(Index=207, Team='TEX', League='AL', Year=2006, RS=835, RA=784, W=80, OBP=0.33799999999999997, SLG=0.446, BA=0.278, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.341, OSLG=0.424)
Pandas(Index=237, Team='TEX', League='AL', Year=2005, RS=865, RA=858, W=79, OBP=0.32899999999999996, SLG=0.46799999999999997, BA=0.267, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.34299999999999997, OSLG=0.428)
Pandas(Index=268, Team='TEX', League='AL', Year=2004, RS=860, RA=794, W=89, OBP=0.32899999999999996, SLG=0.457, BA=0.266, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.344, OSLG=0.43200000000000005)
Pandas(Index=298, Team='TEX', League='AL', Year=2003, RS=826, RA=969, W=71, OBP=0.33, SLG=0.45399999999999996, BA=0.266, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.36, OSLG=0.473)
Pandas(Index=328, Team='TEX', League='AL', Year=2002, RS=843, RA=882, W=72, OBP=0.33799999999999997, SLG=0.455, BA=0.26899999999999996, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.355, OSLG=0.451)
Pandas(Index=358, Team='TEX', League='AL', Year=2001, RS=890, RA=968, W=73, OBP=0.344, SLG=0.47100000000000003, BA=0.275, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.36200000000000004, OSLG=0.494)
Pandas(Index=388, Team='TEX', League='AL', Year=2000, RS=848, RA=974, W=71, OBP=0.35200000000000004, SLG=0.446, BA=0.28300000000000003, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.369, OSLG=0.475)
Pandas(Index=418, Team='TEX', League='AL', Year=1999, RS=945, RA=859, W=95, OBP=0.361, SLG=0.479, BA=0.293, Playoffs=1, RankSeason=5.0, RankPlayoffs=4.0, G=162, OOBP=0.34600000000000003, OSLG=0.45899999999999996)
Pandas(Index=448, Team='TEX', League='AL', Year=1998, RS=940, RA=871, W=88, OBP=0.35700000000000004, SLG=0.462, BA=0.289, Playoffs=1, RankSeason=8.0, RankPlayoffs=4.0, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=476, Team='TEX', League='AL', Year=1997, RS=807, RA=823, W=77, OBP=0.33399999999999996, SLG=0.43799999999999994, BA=0.27399999999999997, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=504, Team='TEX', League='AL', Year=1996, RS=928, RA=799, W=90, OBP=0.358, SLG=0.469, BA=0.284, Playoffs=1, RankSeason=5.0, RankPlayoffs=4.0, G=163, OOBP=nan, OSLG=nan)
Pandas(Index=532, Team='TEX', League='AL', Year=1993, RS=835, RA=751, W=86, OBP=0.32899999999999996, SLG=0.431, BA=0.267, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=558, Team='TEX', League='AL', Year=1992, RS=682, RA=753, W=77, OBP=0.321, SLG=0.39299999999999996, BA=0.25, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=584, Team='TEX', League='AL', Year=1991, RS=829, RA=814, W=85, OBP=0.341, SLG=0.424, BA=0.27, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=610, Team='TEX', League='AL', Year=1990, RS=676, RA=696, W=83, OBP=0.331, SLG=0.376, BA=0.259, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=636, Team='TEX', League='AL', Year=1989, RS=695, RA=714, W=83, OBP=0.326, SLG=0.39399999999999996, BA=0.263, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=662, Team='TEX', League='AL', Year=1988, RS=637, RA=735, W=70, OBP=0.32, SLG=0.368, BA=0.252, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=161, OOBP=nan, OSLG=nan)
Pandas(Index=688, Team='TEX', League='AL', Year=1987, RS=823, RA=849, W=75, OBP=0.33299999999999996, SLG=0.43, BA=0.266, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=714, Team='TEX', League='AL', Year=1986, RS=771, RA=743, W=87, OBP=0.331, SLG=0.428, BA=0.267, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=740, Team='TEX', League='AL', Year=1985, RS=617, RA=785, W=62, OBP=0.322, SLG=0.381, BA=0.253, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=161, OOBP=nan, OSLG=nan)
Pandas(Index=766, Team='TEX', League='AL', Year=1984, RS=656, RA=714, W=69, OBP=0.313, SLG=0.377, BA=0.261, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=161, OOBP=nan, OSLG=nan)
Pandas(Index=792, Team='TEX', League='AL', Year=1983, RS=639, RA=609, W=77, OBP=0.31, SLG=0.366, BA=0.255, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=163, OOBP=nan, OSLG=nan)
Pandas(Index=818, Team='TEX', League='AL', Year=1982, RS=590, RA=749, W=64, OBP=0.308, SLG=0.359, BA=0.249, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=844, Team='TEX', League='AL', Year=1980, RS=756, RA=752, W=76, OBP=0.33899999999999997, SLG=0.405, BA=0.284, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=163, OOBP=nan, OSLG=nan)
Pandas(Index=870, Team='TEX', League='AL', Year=1979, RS=750, RA=698, W=83, OBP=0.33399999999999996, SLG=0.409, BA=0.278, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=896, Team='TEX', League='AL', Year=1978, RS=692, RA=632, W=87, OBP=0.332, SLG=0.381, BA=0.253, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=922, Team='TEX', League='AL', Year=1977, RS=767, RA=657, W=94, OBP=0.342, SLG=0.405, BA=0.27, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=947, Team='TEX', League='AL', Year=1976, RS=616, RA=652, W=76, OBP=0.321, SLG=0.341, BA=0.25, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=971, Team='TEX', League='AL', Year=1975, RS=714, RA=733, W=79, OBP=0.33, SLG=0.371, BA=0.256, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=995, Team='TEX', League='AL', Year=1974, RS=690, RA=698, W=83, OBP=0.336, SLG=0.377, BA=0.272, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=161, OOBP=nan, OSLG=nan)
Pandas(Index=1019, Team='TEX', League='AL', Year=1973, RS=619, RA=844, W=57, OBP=0.318, SLG=0.361, BA=0.255, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)

In [24]:
# Loop over the DataFrame and print each row's Index, Year and Wins (W)
for row in rangers_df.itertuples():
    i = row.Index
    year = row.Year
    wins = row.W
    print(i, year, wins)

27 2012 93
57 2011 96
87 2010 90
117 2009 87
147 2008 79
177 2007 75
207 2006 80
237 2005 79
268 2004 89
298 2003 71
328 2002 72
358 2001 73
388 2000 71
418 1999 95
448 1998 88
476 1997 77
504 1996 90
532 1993 86
558 1992 77
584 1991 85
610 1990 83
636 1989 83
662 1988 70
688 1987 75
714 1986 87
740 1985 62
766 1984 69
792 1983 77
818 1982 64
844 1980 76
870 1979 83
896 1978 87
922 1977 94
947 1976 76
971 1975 79
995 1974 83
1019 1973 57

In [25]:
# Loop over the DataFrame and print each row's Index, Year and Wins (W)
for row in rangers_df.itertuples():
    i = row.Index
    year = row.Year
    wins = row.W
  
    # Check if rangers made Playoffs (1 means yes; 0 means no)
    if row.Playoffs == 1:
        print(i, year, wins)

27 2012 93
57 2011 96
87 2010 90
418 1999 95
448 1998 88
504 1996 90

In [28]:
yankees_df = baseball_df.query('Team == "NYY"')

In [33]:
run_diffs = []

# Loop over the DataFrame and calculate each row's run differential
for row in yankees_df.itertuples():
    
    runs_scored = row.RS
    runs_allowed = row.RA

    run_diff = calc_run_diff(runs_scored, runs_allowed)
    
    run_diffs.append(run_diff)

# Append new column
yankees_df['RD'] = run_diffs
print(yankees_df)

     Team League  Year   RS   RA    W    OBP    SLG     BA  Playoffs  \
18    NYY     AL  2012  804  668   95  0.337  0.453  0.265         1
48    NYY     AL  2011  867  657   97  0.343  0.444  0.263         1
78    NYY     AL  2010  859  693   95  0.350  0.436  0.267         1
108   NYY     AL  2009  915  753  103  0.362  0.478  0.283         1
138   NYY     AL  2008  789  727   89  0.342  0.427  0.271         0
168   NYY     AL  2007  968  777   94  0.366  0.463  0.290         1
198   NYY     AL  2006  930  767   97  0.363  0.461  0.285         1
228   NYY     AL  2005  886  789   95  0.355  0.450  0.276         1
259   NYY     AL  2004  897  808  101  0.353  0.458  0.268         1
289   NYY     AL  2003  877  716  101  0.356  0.453  0.271         1
319   NYY     AL  2002  897  697  103  0.354  0.455  0.275         1
349   NYY     AL  2001  804  713   95  0.334  0.435  0.267         1
379   NYY     AL  2000  871  814   87  0.354  0.450  0.277         1
409   NYY     AL  1999  900  731   98  0.366  0.453  0.282         1
439   NYY     AL  1998  965  656  114  0.364  0.460  0.288         1
468   NYY     AL  1997  891  688   96  0.362  0.436  0.287         1
496   NYY     AL  1996  871  787   92  0.360  0.436  0.288         1
524   NYY     AL  1993  821  761   88  0.353  0.435  0.279         0
550   NYY     AL  1992  733  746   76  0.328  0.406  0.261         0
576   NYY     AL  1991  674  777   71  0.316  0.387  0.256         0
602   NYY     AL  1990  603  749   67  0.300  0.366  0.241         0
628   NYY     AL  1989  698  792   74  0.331  0.391  0.269         0
654   NYY     AL  1988  772  748   85  0.333  0.395  0.263         0
680   NYY     AL  1987  788  758   89  0.336  0.418  0.262         0
706   NYY     AL  1986  797  738   90  0.347  0.430  0.271         0
732   NYY     AL  1985  839  660   97  0.344  0.425  0.267         0
758   NYY     AL  1984  758  679   87  0.339  0.404  0.276         0
784   NYY     AL  1983  770  703   91  0.337  0.416  0.273         0
810   NYY     AL  1982  709  716   79  0.328  0.398  0.256         0
836   NYY     AL  1980  820  662  103  0.343  0.425  0.267         1
862   NYY     AL  1979  734  672   89  0.328  0.406  0.266         0
888   NYY     AL  1978  735  582  100  0.329  0.388  0.267         1
914   NYY     AL  1977  831  651  100  0.344  0.444  0.281         1
940   NYY     AL  1976  730  575   97  0.328  0.389  0.269         1
964   NYY     AL  1975  681  588   83  0.325  0.382  0.264         0
988   NYY     AL  1974  671  623   89  0.324  0.368  0.263         0
1012  NYY     AL  1973  641  610   80  0.322  0.378  0.261         0
1036  NYY     AL  1971  648  641   81  0.328  0.360  0.254         0
1060  NYY     AL  1970  680  612   93  0.324  0.365  0.251         0
1083  NYY     AL  1969  562  587   80  0.308  0.344  0.235         0
1105  NYY     AL  1968  536  531   83  0.292  0.318  0.214         0
1126  NYY     AL  1967  522  621   72  0.296  0.317  0.225         0
1146  NYY     AL  1966  611  612   70  0.299  0.374  0.235         0
1166  NYY     AL  1965  611  604   77  0.299  0.364  0.235         0
1186  NYY     AL  1964  730  577   99  0.317  0.387  0.253         1
1206  NYY     AL  1963  714  547  104  0.309  0.403  0.252         1
1226  NYY     AL  1962  817  680   96  0.337  0.426  0.267         1

      RankSeason  RankPlayoffs    G   OOBP   OSLG   RD
18           3.0           3.0  162  0.311  0.419  136
48           2.0           4.0  162  0.322  0.399  210
78           3.0           3.0  162  0.322  0.399  166
108          1.0           1.0  162  0.327  0.408  162
138          NaN           NaN  162  0.329  0.405   62
168          2.0           4.0  162  0.340  0.417  191
198          1.0           4.0  162  0.326  0.413  163
228          3.0           4.0  162  0.332  0.422   97
259          2.0           3.0  162  0.328  0.432   89
289          1.0           2.0  163  0.314  0.407  161
319          1.0           4.0  161  0.309  0.395  200
349          3.0           2.0  161  0.318  0.398   91
379          5.0           1.0  161  0.336  0.422   57
409          3.0           1.0  162  0.329  0.400  169
439          1.0           1.0  162    NaN    NaN  309
468          3.0           4.0  162    NaN    NaN  203
496          3.0           1.0  162    NaN    NaN   84
524          NaN           NaN  162    NaN    NaN   60
550          NaN           NaN  162    NaN    NaN  -13
576          NaN           NaN  162    NaN    NaN -103
602          NaN           NaN  162    NaN    NaN -146
628          NaN           NaN  161    NaN    NaN  -94
654          NaN           NaN  161    NaN    NaN   24
680          NaN           NaN  162    NaN    NaN   30
706          NaN           NaN  162    NaN    NaN   59
732          NaN           NaN  161    NaN    NaN  179
758          NaN           NaN  162    NaN    NaN   79
784          NaN           NaN  162    NaN    NaN   67
810          NaN           NaN  162    NaN    NaN   -7
836          1.0           3.0  162    NaN    NaN  158
862          NaN           NaN  160    NaN    NaN   62
888          1.0           1.0  163    NaN    NaN  153
914          3.0           1.0  162    NaN    NaN  180
940          3.0           2.0  159    NaN    NaN  155
964          NaN           NaN  160    NaN    NaN   93
988          NaN           NaN  162    NaN    NaN   48
1012         NaN           NaN  162    NaN    NaN   31
1036         NaN           NaN  162    NaN    NaN    7
1060         NaN           NaN  163    NaN    NaN   68
1083         NaN           NaN  162    NaN    NaN  -25
1105         NaN           NaN  164    NaN    NaN    5
1126         NaN           NaN  163    NaN    NaN  -99
1146         NaN           NaN  160    NaN    NaN   -1
1166         NaN           NaN  162    NaN    NaN    7
1186         1.0           2.0  164    NaN    NaN  153
1206         1.0           2.0  161    NaN    NaN  167
1226         2.0           1.0  162    NaN    NaN  137

/Users/Brian/anaconda3/envs/datacamp/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [48]:
cols= ['Team', 'Year', 'RS', 'RA', 'W', 'Playoffs']
rays_df = baseball_df[cols].query("Team == 'TBR' & Year >= 2008").set_index('Year').drop(['Team'], axis=1)

In [51]:
# Gather sum of all columns
stat_totals = rays_df.apply(sum, axis=0)
print(stat_totals)

RS          3783
RA          3265
W            458
Playoffs       3
dtype: int64

In [52]:
# Gather total runs scored in all games per year
total_runs_scored = rays_df[['RS', 'RA']].apply(sum, axis=1)
print(total_runs_scored)

Year
2012    1274
2011    1321
2010    1451
2009    1557
2008    1445
dtype: int64

In [53]:
def text_playoffs(num_playoffs): 
    if num_playoffs == 1:
        return 'Yes'
    else:
        return 'No'

In [54]:
# Convert numeric playoffs to text
textual_playoffs = rays_df.apply(lambda row: text_playoffs(row['Playoffs']), axis=1)
print(textual_playoffs)

Year
2012     No
2011    Yes
2010    Yes
2009     No
2008    Yes
dtype: object

In [57]:
cols = ['Team', 'League', 'Year', 'RS', 'RA', 'W', 'G', 'Playoffs']
dbacks_df = baseball_df[cols].query("Team == 'ARI' &  Year >= 1998")

In [58]:
# Display the first five rows of the DataFrame
print(dbacks_df.head())

    Team League  Year   RS   RA   W    G  Playoffs
0    ARI     NL  2012  734  688  81  162         0
30   ARI     NL  2011  731  662  94  162         1
60   ARI     NL  2010  713  836  65  162         0
90   ARI     NL  2009  720  782  70  162         0
120  ARI     NL  2008  720  706  82  162         0

In [59]:
def calc_win_perc(wins, games_played):
    win_perc = wins / games_played
    return np.round(win_perc,2)

In [60]:
# Display the first five rows of the DataFrame
print(dbacks_df.head())

# Create a win percentage Series 
win_percs = dbacks_df.apply(lambda row: calc_win_perc(row['W'], row['G']), axis=1)
print(win_percs, '\n')

    Team League  Year   RS   RA   W    G  Playoffs
0    ARI     NL  2012  734  688  81  162         0
30   ARI     NL  2011  731  662  94  162         1
60   ARI     NL  2010  713  836  65  162         0
90   ARI     NL  2009  720  782  70  162         0
120  ARI     NL  2008  720  706  82  162         0
0      0.50
30     0.58
60     0.40
90     0.43
120    0.51
150    0.56
180    0.47
210    0.48
241    0.31
271    0.52
301    0.60
331    0.57
361    0.52
391    0.62
421    0.40
dtype: float64

In [61]:
# Display the first five rows of the DataFrame
print(dbacks_df.head())

# Create a win percentage Series 
win_percs = dbacks_df.apply(lambda row: calc_win_perc(row['W'], row['G']), axis=1)
print(win_percs, '\n')

# Append a new column to dbacks_df
dbacks_df['WP'] = win_percs
print(dbacks_df, '\n')

# Display dbacks_df where WP is greater than 0.50
print(dbacks_df[dbacks_df['WP'] >= 0.50])

    Team League  Year   RS   RA   W    G  Playoffs
0    ARI     NL  2012  734  688  81  162         0
30   ARI     NL  2011  731  662  94  162         1
60   ARI     NL  2010  713  836  65  162         0
90   ARI     NL  2009  720  782  70  162         0
120  ARI     NL  2008  720  706  82  162         0
0      0.50
30     0.58
60     0.40
90     0.43
120    0.51
150    0.56
180    0.47
210    0.48
241    0.31
271    0.52
301    0.60
331    0.57
361    0.52
391    0.62
421    0.40
dtype: float64

    Team League  Year   RS   RA    W    G  Playoffs    WP
0    ARI     NL  2012  734  688   81  162         0  0.50
30   ARI     NL  2011  731  662   94  162         1  0.58
60   ARI     NL  2010  713  836   65  162         0  0.40
90   ARI     NL  2009  720  782   70  162         0  0.43
120  ARI     NL  2008  720  706   82  162         0  0.51
150  ARI     NL  2007  712  732   90  162         1  0.56
180  ARI     NL  2006  773  788   76  162         0  0.47
210  ARI     NL  2005  696  856   77  162         0  0.48
241  ARI     NL  2004  615  899   51  162         0  0.31
271  ARI     NL  2003  717  685   84  162         0  0.52
301  ARI     NL  2002  819  674   98  162         1  0.60
331  ARI     NL  2001  818  677   92  162         1  0.57
361  ARI     NL  2000  792  754   85  162         0  0.52
391  ARI     NL  1999  908  676  100  162         1  0.62
421  ARI     NL  1998  665  812   65  162         0  0.40

    Team League  Year   RS   RA    W    G  Playoffs    WP
0    ARI     NL  2012  734  688   81  162         0  0.50
30   ARI     NL  2011  731  662   94  162         1  0.58
120  ARI     NL  2008  720  706   82  162         0  0.51
150  ARI     NL  2007  712  732   90  162         1  0.56
271  ARI     NL  2003  717  685   84  162         0  0.52
301  ARI     NL  2002  819  674   98  162         1  0.60
331  ARI     NL  2001  818  677   92  162         1  0.57
361  ARI     NL  2000  792  754   85  162         0  0.52
391  ARI     NL  1999  908  676  100  162         1  0.62

In [63]:
# Use the W array and G array to calculate win percentages
win_percs_np = calc_win_perc(baseball_df['W'].values, baseball_df['G'].values)

# Append a new column to baseball_df that stores all win percentages
baseball_df['WP'] = win_percs_np

print(baseball_df.head())

  Team League  Year   RS   RA   W    OBP    SLG     BA  Playoffs  RankSeason  \
0  ARI     NL  2012  734  688  81  0.328  0.418  0.259         0         NaN
1  ATL     NL  2012  700  600  94  0.320  0.389  0.247         1         4.0
2  BAL     AL  2012  712  705  93  0.311  0.417  0.247         1         5.0
3  BOS     AL  2012  734  806  69  0.315  0.415  0.260         0         NaN
4  CHC     NL  2012  613  759  61  0.302  0.378  0.240         0         NaN

   RankPlayoffs    G   OOBP   OSLG    WP
0           NaN  162  0.317  0.415  0.50
1           5.0  162  0.306  0.378  0.58
2           4.0  162  0.315  0.403  0.57
3           NaN  162  0.331  0.428  0.43
4           NaN  162  0.335  0.424  0.38

In [65]:
from collections import OrderedDict

col_dict = OrderedDict([('Team', 'Abbreviated team name'),
             ('League', 'Specifies National League or American League'),
             ('Year', "Each season's year"),
             ('RS', 'Runs scored in a season'),
             ('RA', 'Runs allowed in a season'),
             ('W', 'Wins in a season'),
             ('G', 'Games played in a season'),
             ('Playoffs', '`1` if a team made the playoffs; `0` if they did not'),
             ('WP', 'True win percentage for a season')])
col_dict

OrderedDict([('Team', 'Abbreviated team name'),
             ('League', 'Specifies National League or American League'),
             ('Year', "Each season's year"),
             ('RS', 'Runs scored in a season'),
             ('RA', 'Runs allowed in a season'),
             ('W', 'Wins in a season'),
             ('G', 'Games played in a season'),
             ('Playoffs',
              '`1` if a team made the playoffs; `0` if they did not'),
             ('WP', 'True win percentage for a season')])

In [67]:
def predict_win_perc(RS, RA):
    prediction = RS ** 2 / (RS ** 2 + RA ** 2)
    return np.round(prediction, 2)

In [68]:
win_perc_preds_loop = []

# Use a loop and .itertuples() to collect each row's predicted win percentage
for row in baseball_df.itertuples():
    runs_scored = row.RS
    runs_allowed = row.RA
    win_perc_pred = predict_win_perc(runs_scored, runs_allowed)
    win_perc_preds_loop.append(win_perc_pred)

In [69]:
win_perc_preds_loop = []

# Use a loop and .itertuples() to collect each row's predicted win percentage
for row in baseball_df.itertuples():
    runs_scored = row.RS
    runs_allowed = row.RA
    win_perc_pred = predict_win_perc(runs_scored, runs_allowed)
    win_perc_preds_loop.append(win_perc_pred)

# Apply predict_win_perc to each row of the DataFrame
win_perc_preds_apply = baseball_df.apply(lambda row: predict_win_perc(row['RS'], row['RA']), axis=1)

In [70]:
win_perc_preds_loop = []

# Use a loop and .itertuples() to collect each row's predicted win percentage
for row in baseball_df.itertuples():
    runs_scored = row.RS
    runs_allowed = row.RA
    win_perc_pred = predict_win_perc(runs_scored, runs_allowed)
    win_perc_preds_loop.append(win_perc_pred)

# Apply predict_win_perc to each row of the DataFrame
win_perc_preds_apply = baseball_df.apply(lambda row: predict_win_perc(row['RS'], row['RA']), axis=1)

# Calculate the win percentage predictions using NumPy arrays
win_perc_preds_np = predict_win_perc(baseball_df['RS'].values, baseball_df['RA'].values)
baseball_df['WP_preds'] = win_perc_preds_np
print(baseball_df.head())

  Team League  Year   RS   RA   W    OBP    SLG     BA  Playoffs  RankSeason  \
0  ARI     NL  2012  734  688  81  0.328  0.418  0.259         0         NaN
1  ATL     NL  2012  700  600  94  0.320  0.389  0.247         1         4.0
2  BAL     AL  2012  712  705  93  0.311  0.417  0.247         1         5.0
3  BOS     AL  2012  734  806  69  0.315  0.415  0.260         0         NaN
4  CHC     NL  2012  613  759  61  0.302  0.378  0.240         0         NaN

   RankPlayoffs    G   OOBP   OSLG    WP  WP_preds
0           NaN  162  0.317  0.415  0.50      0.53
1           5.0  162  0.306  0.378  0.58      0.58
2           4.0  162  0.315  0.403  0.57      0.50
3           NaN  162  0.331  0.428  0.43      0.45
4           NaN  162  0.335  0.424  0.38      0.39

In [71]:
%%timeit
win_perc_preds_loop = []

# Use a loop and .itertuples() to collect each row's predicted win percentage
for row in baseball_df.itertuples():
    runs_scored = row.RS
    runs_allowed = row.RA
    win_perc_pred = predict_win_perc(runs_scored, runs_allowed)
    win_perc_preds_loop.append(win_perc_pred)

30.1 ms ± 7.84 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [73]:
%%timeit
# Calculate the win percentage predictions using NumPy arrays
win_perc_preds_np = predict_win_perc(baseball_df['RS'].values, baseball_df['RA'].values)

54.2 µs ± 10.1 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [74]:
%%timeit
# Apply predict_win_perc to each row of the DataFrame
win_perc_preds_apply = baseball_df.apply(lambda row: predict_win_perc(row['RS'], row['RA']), axis=1)

82.2 ms ± 17.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)